/*HELPER CLASSES---------------*/
.rounded-edges {
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.icon {
  max-height: 25px !important;
}

.hidden {
  display: none;
}

//------ MAIN - LOGO to override bootstrap ----//

.main-logo{
  margin: auto !important;
  width: 90% !important;
  height: auto;
  padding: 0px 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-logo{
    width: 60% !important;
  }
}

/* Smaller devices (tablets, 550px and up) */
@media (min-width: 550px) {
  .main-logo{
    width: 75% !important;
  }
}
