.top-circle{
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
   .symbol, .atomic-number{
     text-align: center;
     margin: 0;
     padding: 0;
   }

  .symbol{
    margin-top: 15px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
  }

  .atomic-number{
    height: 25px;
    line-height: 25px;
    font-size:20px;
  }
}

.info-header{
  background-color: lightgray;
}

.exit{
  z-index: 100;
}
