<footer class="text-center footer">
    <a class="footer-logo" href="mailto:mike@miketruax.com">
      <h6><img class="social-icon" src="/assets/img/buttons/menu-button.png">Mike Truax - Web Developer
      </h6>
    </a>
    <a class="social-icon" href="https://github.com/miketruax" target='_blank'>
      <img src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon"></a>
  
    <a class="social-icon" href="https://www.linkedin.com/pub/michael-truax/11a/690/625" target='_blank'>
      <img src="assets/img/icons/linked-in.png" class='icon' alt="Github Icon"></a>
  
    <a class="social-icon" href="https://twitter.com/thecodingursine" target='_blank'>
      <img src="assets/img/icons/twitter.png" class='icon' alt="Github Icon"></a>
  
  </footer>