.portfolio-icon{
    display: block;
    margin: auto;
    max-height: 100px;
}

.button-container{
    border-top: 1px solid black;
    padding: 8px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .button{
        margin-left: 8px;
        flex-grow: 1;
    }
}

.mat-list, .mat-list-item, .mat-subheader{
    font-size: 13px;
    height: auto !important;
    padding: 3px 16px;
}
