// ------PALLETE-----
// Primary Colors

$primary: rgb(123, 191, 191);
$secondary: rgb(15, 60, 89);
$warning: rgb(255, 241, 125);
$font-dark: rgb(37, 38, 39);
$font-light: rgb(243, 239, 233);



// TOP PLAYER BOXES


.player {
  margin: 2px;
  span{
    max-height: 20px;
    overflow: hidden;
    word-break: break-all;
  }
  svg {
    position: absolute;
    top: 2.5px;
    left: calc(50% - 12.5px);
    g {
      fill: rgba($secondary, 0.15);
      height: 25px !important;
    }
  }
}

.player1.active {
  background: $primary;
}

.player2.active {
  background: rgb(21, 54, 66);
}

.active {
  span {
    color: rgb(243, 239, 233);
  }
  svg g {
    fill: $font-light;
  }
}

.name {
  display: block;
  margin: auto;
  color: $font-dark;
  top: 0;
  text-align: center;
}

//CONTAINERS 
.board,
.player-select,
.screen-win {
  width: 75%;
  margin: auto;
  height: 75vw;
  max-height: 600px;
}

.screen-win, .player-select{
  width: 100%;
}

.screen-win, .player-select{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

//BOARD
.board {
  display: flex;
  flex-flow: row wrap;
}

.box {
  margin: 2px;
  flex-basis: calc(100% / 3 - 6px);
  background-color: $font-light;
  padding-top: calc(100% / 3 - 6px);
  cursor: pointer;
  border: 1px solid $secondary;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}

.activePlayer-1.filled-0:hover {
  // transition: 0.2s ease;
  background-image: url(../../../assets/img/portfolio/tictactoe/o.svg);
}

.activePlayer-2.filled-0:hover {
  // transition: 0.2s ease;
  background-image: url(../../../assets/img/portfolio/tictactoe/x.svg);
}

.filled-1 {
  background-color: $primary !important;
  background-image: url(../../../assets/img/portfolio/tictactoe/o.svg);
}

.filled-2 {
  background-color: $secondary !important;
  background-image: url(../../../assets/img/portfolio/tictactoe/x.svg);
}

// END GAME SCREEN
.new-game-button {
  width: calc(60% - 20px);
  margin: auto;
}

.screen-win {
  h1{
    margin: auto;
    font-size: 6em;
    word-break: break-all;
  }
  color: $font-light;
}

.screen-win-3 {
  background: $font-light;
  color: $secondary;
}

.screen-win-1 {
  background: $primary;
}

.screen-win-2 {
  background: $secondary;
}

.screen-win-1 button {
  color: rgb(21, 54, 66);
}

// START GAME SCREEN


.player-name {
  display: block;
  width: 80%;
  margin: 5px auto;
}

//ALL SCREENS

.title {
  margin-top: 10px;
  color: $font-light;
  background-color: $secondary;
}

.start-button {
  margin: 5px 10px;
  width: calc(50% - 20px);
  @media(max-width: 465px){
    width: calc(100% - 20px);
  }
}



.player {
  height: 20px;
  position: relative;
}

.ttt-game {
  height: calc(75vw + 140px);
  max-width: 800px;
  max-height: 759px;
  margin: auto;
}

.portfolio-exit {
  margin: 10px;
}
