// ------PALLETE-----
// Primary Colors
$moonstone-blue: rgb(123, 191, 191);
//$yankees-blue: rgb(21, 54, 66);
$yankees-blue: rgb(15,60,89);
$sunny: rgb(255, 241, 125);

// Highlight

// -----TYPOGRAPHY-----
$raisin-black: rgb(37, 38, 39);
$alabaster: rgb(243, 239, 233);

$size-sm:        80px;
$size:           120px;
$spacing:        5px;

$player-1-icon:  $alabaster;
$player-2-icon:  $sunny;

$player-1-color: $moonstone-blue;
$player-2-color: $yankees-blue;
$hover-color:    $raisin-black;



.computer {
  margin-top: 1rem;
}

a h4{
  background-color: white !important;
  width: ($size-sm + $spacing*2)*3 + ($spacing*2);

  margin: auto !important;
  margin-top: 10px !important;
  @media(min-width: 450px) {
    width: ($size + $spacing*2)*3 + ($spacing*2);
  }
}

#playOne, #playTwo {
  color: $yankees-blue;
}

.play1, .play2 {
  color: $sunny;
}
.screen {
  width: ($size-sm + $spacing*2)*3 + ($spacing*2);
  height: ($size-sm + $spacing)*4;
  float: none !important;
  margin: auto !important;
  margin-top: 150px !important;
  .screen-head{
    margin-top: ($spacing) !important;
  }
  @media(min-width: 450px) {
    height: ($size + $spacing)*4 + $spacing;
    width: ($size + $spacing*2)*3 + ($spacing*2);
    .screen-head{
      margin-top: $size + $spacing  !important;
    }

  }
  background: white !important;
  label{
    margin-top: $spacing*5 !important;
  }
  input{
    margin: $spacing*2 0;
  }
  padding-bottom: $spacing*2 ;
}

#lplayOne{
  margin-top: $spacing*3 !important;
}



.screen-start button {
  color: $yankees-blue !important;
  background-color: $moonstone-blue !important;
  margin-top: 4vh !important;
  height: 60px !important;
  border: 1px solid $sunny !important;
}


.screen-win p, .screen-win h1 {
  margin-top: $spacing*6 !important;
  font-size: 60px;
  font-weight: 500;
  color: $yankees-blue
}

.screen-win button{
  color: $yankees-blue !important;
  background-color: $moonstone-blue !important;
  border: 1px solid $sunny !important;
}


.screen-win-3 {
  background: $alabaster;
  p{
    color: $yankees-blue;
  }
  h1{
    color: $yankees-blue;
  }
}

.screen-win-1 {
  background: $moonstone-blue;
}

.screen-win-1 button {
  color: rgb(21, 54, 66);
}


.screen-win-2 {
  background: $yankees-blue;
}


.board {
  padding-top: 1em;
}

.board h1 {
  margin-top: 0.3em;
}

.players {
  color: rgba($alabaster, 0.2);
  text-align: center;
  outline: 1px solid $alabaster;
  transition: 1s;
  height: 30px !important;
  background-size: 40px auto !important;
}

.players svg g {
  fill: rgba($yankees-blue, 0.15);
  height: 25px !important;
}

.startgame{
  margin-top: 10vh !important;
  background-color: $alabaster !important;
}

.players-turn {
  outline: none;
}

.player1.active svg g{
  fill: $alabaster;
}

.player2.active svg g {
  fill: #aaa;
}

.player1.active {
  background: rgba($moonstone-blue, 1);
}

.player2.active {
  background: rgb(21, 54, 66);
}

#O, #X {
  color: rgba($yankees-blue, .7);
  position: absolute;
  font-size: 1rem;
  left: 0;
  right: 0;
  top: $spacing*2;
  margin: auto;
}

.active #O, .active #X {
  color: rgb(243, 239, 233);
}


.box {
  background-color: $alabaster;
  border-radius: 14px;
  cursor: pointer;
  color: white;
  height: $size-sm;
  margin: $spacing;
  position: absolute;
  width: $size-sm;

  @media(min-width: 450px) {
    height: $size;
    width: $size;
  }
  border: 1px solid $yankees-blue;
  transition: 0.2s ease;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}

.topb {
  top: $size-sm;
}
.midrowb {
  top: ($spacing + $size-sm*2);
}
.bottomb {
  top: ($spacing*2 + $size-sm*3);
}
.leftb {
  left: $spacing*2
}
.midcolb {
  left: ($spacing*3 + $size-sm)
}
.rightb {
  left: ($spacing*4 + $size-sm*2)
}



@media(min-width: 450px) {
  .topb {
    top: $size;
  }
  .midrowb {
    top: ($spacing + $size*2);
  }
  .bottomb {
    top: ($spacing*2 + $size*3);
  }
  .leftb {
    left: $spacing*2
  }
  .midcolb {
    left: ($spacing*3 + $size)
  }
  .rightb {
    left: ($spacing*4 + $size*2)
  }
}



.box.box-filled-1 {
  background-color: $moonstone-blue !important;
  background-image: url(../../../assets/img/portfolio/tictactoe/o.svg);
}

.box.box-filled-2 {
  background-color: $yankees-blue !important;
  background-image: url(../../../assets/img/portfolio/tictactoe/x.svg);
}


/* Body and Notice styling
-------------------------------------------------------------- */

.background-screen {
  color: $alabaster;
  font-family: 'Arial', sans-serif;
  margin: 0;
  text-align: center;
}

h5 {
  font-weight: 400;
  padding: 0 20px;
}

