//Unchanging panel bgs
.top-div{
  margin-top: 146px !important;
}

.food-panel-heading {
  background-image: url(../img/backgrounds/foodFull.png) !important;
  min-height: 60px;
}

.food1{
  background-color: rgba($yankees-blue, .6);
}


// 12466730


.banner-logo {
  position: fixed;
  border-bottom: 2px solid $sunny;
  border-top: 2px solid $sunny;
  top:46px !important;
  margin-bottom: 3px !important;
  z-index: 101 !important;
  background: url(../img/backgrounds/home-logo.png) no-repeat center !important;
  background-size: cover !important;
  height: 100px !important;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  img{
    vertical-align: middle;
    max-height: 90px !important;
    height: auto;
    max-width: 90% !important;
    margin: auto !important;
  }
}

.section-heading {
  border-bottom: 1px solid $sunny !important;
  background-color: rgba($yankees-blue, 1) !important;
  color: $alabaster !important;
  font-family: $panel-head-fonts;
  text-transform: uppercase !important;
}

.inner-heading{
  color: $yankees-blue !important;
  background-color: rgba($sunny, .4) !important;
  border: 1px solid $yankees-blue !important;
}
.container-box{
  padding: 15px !important;
  background-color: rgba($alabaster, 1);
}

.body {
  background-color: rgba($sunny, .3) !important;
  font-family: $body-fonts;
  margin: 0 !important;
  padding: 0 !important;
}
