/*ELEMENTS----------------*/
* {
  line-height: normal !important;
  font-family: $content-font !important;
  color: $raisin-black;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  font-family: $title-font !important;
}

li{
  //text-shadow: .5px .5px $alabaster !important;
}

dd{

  margin-bottom: 15px !important;

}

hr{
  padding: 1px !important;
  margin-left: 5% !important;
  width: 90% !important;
  background-color: $raisin-black;
}

footer{
  background-color: $alabaster;

}

