
.recipe-title {
  min-height: 52px !important;
  margin: 7px 0 !important;
  h2{
    font-family: $panel-head-fonts;
    color: $sunny !important;
    text-shadow: 2px 2px $yankees-blue !important;
  }
}

.recipeLink{
  margin-top: 5px !important;
  color: $raisin-black !important;
  text-shadow: 2px 2px $alabaster !important;
}

.thumbnail-img{
  margin: auto !important;
  max-height: 65px !important;
  margin: 5px !important;
  width: auto !important;
  border: 1px solid $yankees-blue;
}

.thumbnail-container{
  border-bottom: 2px solid $yankees-blue;
  margin: auto;
}

.active-thumb{
  border:2px solid $sunny;
}
