<div class="page-container">
<div class="top-div  section-container">
    <section-background imageFade class="section-background" [background]="'beginning'"></section-background>
  <h4 class="section-heading text-center uppercase font-light background-secondary">Beginning</h4>
  <div class=" container-box  "  slideBox>
    <p class="">
      Let’s start at the beginning! </p>
    <p class="">I grew up in Bellevue, Nebraska, a small town outside of the Omaha metro area. Since I was a kid, I have been
      fascinated with science. Anything that fell under the STEM (Science, Technology, Engineering, Mathematics)
      umbrella held interest for me, from building with LEGO to extra-curricular activities like Science Olympiad.
      During my eighth-grade year, our middle school Science Olympiad team won the Nebraska Science Olympiad, earning
      the right to compete in the Nationals in Atlanta, Georgia, the same year as the 1996 Summer Olympics! Although we
      didn’t win the national tournament, the competition fueled my passion for STEM subjects.</p>
    <p class="">
      I considered a career in architecture, and/or mechanical engineering, but in my junior year of high school I fell
      in love with computer programming. One particularly dedicated teacher offered a before-school programming class in
      1999 with a curriculum that started us with C and C++. Although the class was only a semester long, I loved it. I
      started doing coding at home in my free time and decided I wanted to go to school for a degree in computer
      science.
    </p>
  </div>
</div>

<div class="section-container no-top">
    <section-background imageFade class="section-background" [background]="'school'"></section-background>
  <h4 class="section-heading text-center uppercase font-light background-secondary">At College</h4>
  <div class="container-box"  slideBox>
    <p class="">
      I had always been good at school with the exception of gym, the only reason I wasn’t a co-valedictorian. When I
      finally set my sights on computers, I put all my effort into it. I received two “full ride” scholarships (one
      being the coveted Walter Scott Scholarship) plus a third to the University of Nebraska – Omaha. </p>
    <p class="">
      At the end of my freshman year in college, I began to reconsider my decision to pursue a degree in computer
      programming. I still loved it and my classes, but I asked myself: “What if I didn’t enjoy this as a lifelong
      career?” Rather than look at things rationally or even stick with computer programming to benefit from free
      college, I decided that I should leave and figure out what I really wanted to do with my life.</p>
    <p class="">I chalk up that decision to 18-year-old Mike being an idiot—although, “idiot” is pretty synonymous with being an
      18-year-old, isn’t it? As an interesting aside, of all the friends I made at UNO majoring in computer science, all
      but one left before finishing. The one who stuck it out to graduation is now a senior UX architect at a major
      company.
    </p>
    <p class="">
      So there I was in 2002, a “20-something” who walked away from two full-ride scholarships. Like many people without
      a college degree, my options were limited. I began work with a local grocer in Omaha, Nebraska, as a deli clerk.
      After moving up to a back office position, I was offered a job at another grocery chain: Wild Oats. This began my
      first foray into the world of natural and organic grocery stores. I was still trying to figure out what I wanted
      to do as an adult, but I never lost my passion for programming.</p>
  </div>
</div>

<div class="section-container no-top">
    <section-background imageFade class="section-background" [background]="'retail'"></section-background>
  <h4 class="section-heading text-center uppercase font-light background-secondary">Retail Work</h4>
  <div class=" container-box  "  slideBox>

    <p  class="">In the spring of 2005, Whole Foods Market announced it was going to open a store in Omaha. Whole Foods was a huge
      competitor for Wild Oats. They offered much better pay and benefits, and convinced one of my managers to jump
      ship. Not soon after, he offered me a buyer position in his department. At the time, I believed the position would
      help me save money and work towards returning to school, so I accepted.</p>
    <p  class="">The best things about working with Whole Foods were also the worst. The pay was solid and there were enough
      opportunities for growth that I ended up putting off returning to school while I climbed the corporate ladder. I
      worked my way up to an associate team leader position and helped in different capacities storewide at other
      locations region-wide. When a produce team leader position was available at a new Whole Foods store in Lincoln, I
      jumped at the opportunity. Moving to Lincoln was arguably one of the best decisions I have ever made. Not only did
      I receive a promotion and a brand new set of skills, it also forced me to grow as a person.</p>
    <p  class="">A year later, I accepted a promotion to associate store team leader. The first six months offered the challenge I
      needed. I loved growing as a leader and learning new tasks and skills. The unfortunate part was that challenge was
      gone after roughly seven months. My hope was that, as I continued to move up in the company, more challenges would
      arise and I wouldn’t feel like my professional life was lacking. In February 2016, that lack of challenge became
      too much, and I decided that I wanted to do more with my life.</p>
  </div>
</div>

<div class="   section-container no-top">
    <section-background imageFade class="section-background" [background]="'portfolio'"></section-background>
  <h4 class="section-heading text-center uppercase font-light background-secondary">Programming</h4>
  <div class=" container-box  "  slideBox>
    <p  class="">My new plan was to keep working at Whole Foods and learn new aspects of programming in my spare time.
      Unfortunately, my ASTL job required long work hours on my feet. Programming ultimately took a back seat to resting
      up for the next day’s grind. After much soul-searching and financial considerations, in April 2016, I left a
      successful 12-year career in the grocery business to focus on computer programming.</p>
    <p  class="">Since my departure from Whole Foods, I have learned HTML, CSS, JavaScript, jQuery, AngularJS, Angular2/4, Java,
      and Ruby on Rails. I also jumped headfirst into the Agile methodology, receiving certifications as both a
      Certified ScrumMaster and Product Owner through Scrum Alliance.
    </p>
    <p  class="">
      It took me 13 years to realize this truth: programming is what I always wanted to do. A much wiser adult regrets
      the decisions of that impetuous 18-year old, but my life has had many rewards. I am challenged every day and
      welcome it with excitement and curiosity. Suffice it to say, I am happy with my new career choice.
    </p>
  </div>
</div>

<div class="  section-container no-top">
    <section-background imageFade class="section-background" [background]="'passions'"></section-background>
  <h4 class="section-heading text-center uppercase font-light background-secondary">Personal Passions</h4>
  <div class=" container-box  "  slideBox>
    <p  class="">
      I have too many passions to be able to include everything here, but I believe sharing personal interests with
      others helps open up discourse and trust.
    </p>
    <p  class="">
      Science and technology are probably at the top of the list. In my free time, I can’t read enough about physics.
      Gravitational time dilation and relativity are probably my all-time favorite physics subjects. In my opinion,
      better funding and education for science and math should be at the forefront of any talk about primary education.
    </p>
    <p  class="">I’m also very passionate about animal rights—a cause that I feel is critical for the future of humanity. </p>
    <p  class="">I thoroughly enjoy cooking, as is evident by the fact that I have a food blog of my favorite recipes. While my
      wife and I have been vegetarian for some time, I am more than happy to discuss any type of food with anyone! Food
      is one of the great equalizers; everyone needs to eat, and everyone enjoys good food. Pies and candies are my
      favorite things to make but candy-making (being so tightly bound in science) appeals to me a lot more. If you want
      to talk food or have any suggestions for recipes, feel free to reach out to me!</p>
    <p  class="">Foreign languages fascinate me. I tend to soak up snippets of languages like a sponge and have more recently
      decided to use that skill to become fluent in several languages. Currently, I am at a conversational /
      intermediate level in Spanish, and I am working towards fluency in Croatian. One of the great things about
      learning foreign languages is that they not only open new opportunities, but the act of learning greatly improves
      other brain functions. My current goals for foreign language learning are to gain fluency in Croatian (and,
      coincidentally, Bosnian and Serbian at the same time), regain fluency in Spanish, then gain fluency in German.
      After that, the future is wide open. If you have any suggestions or interesting learning tools, I would be more
      than happy to hear them!</p>
  </div>
</div>
<footer-component></footer-component>
</div>