<div class="top-div col-xs-12 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/beginning.gif');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Beginning</h4>
  <div class="col-xs-12 container-box  about-box">
    <p>
    Each section here corresponds to an important event in my life. I hope you will enjoy this overview of what
      I did to to arrive where I am today. Of Course this is not a complete account of my life but, hopefully, it will give
      a basic view of the path I have taken to where I am now. </p>
    <p> With that out of the way, let's start at the beginning!
      I grew up in Bellevue, Nebraska. Since I was a kid, I have been fascinated with science.
      Generally speaking, anything that fell under the STEM (Science, Technology, Engineering,
      Mathematics) umbrella was a passion of mine. Like most kids interested in engineering,
      I built many structures using LEGO. This passion drove me to take part in several
      extra-curricular activities including Science Olympiad. During my eighth-grade year,
      our middle school Science Olympiad team, of which I was a member, won the Nebraska Science
      Olympiad, earning the right to compete in the Nationals in Atlanta, Georgia! Our team was
      especially excited because Atlanta was the site for the 1996 Summer Olympics so we would be
      able to see all the build-up ahead of the games. Although we didn’t win the national tournament,
      the competition fueled my passion for STEM subjects.</p>
    <p>
      I considered a career in architecture, and/or mechanical engineering, but in my junior year of high
      school, I fell in love with computer programming. One particularly dedicated teacher offered a before-school
      programming class. This was back in ’99 so the curriculum started us with C then C++. Although the class was
      only a semester long, I loved it. I started doing coding at home in my free time and decided I wanted to go
      to school for a degree in computer science.
    </p>
    </div>
</div>

<div class="col-xs-12 col-lg-4 section-container no-top">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/school.gif');">
  </div>
  <h4 class="section-heading text-center col-xs-12">At College</h4>
  <div class="col-xs-12 container-box  about-box">
    <p>
      I had always been good at school (with the exception of gym -- which was a major reason I wasn’t a
      co-valedictorian), so when I finally set my sights on computers, I put all my effort into it. I received
      two “full ride” scholarships (one of which being the coveted Walter Scott Scolarship) to the University of
      Nebraska – Omaha. A third scholarship also covered approximately one third of the yearly tuition. </p>
    <p>
      So being an intelligent 18-year-old, I aced all of my classes and graduated with honors… wait, no I didn’t.
      At the end of my freshman year in college, I began
      to reconsider my decision to pursue a degree in computer programming. I still loved it and my classes,
      but I asked myself: “What if I didn’t enjoy this as a life’s career?” Rather than look at things rationally
      or even stick with computer programming because I effectively was going to college free, I decided that I
      should leave college and figure out what I wanted to do with my life. </p>
    <p>I chalk up that decision to
      18-year-old Mike being an idiot, although to be fair, isn’t idiot somewhat synonymous with being 18? As an interesting
      aside, of all the friends I made at UNO who were majoring in computer science, only one works in the field
      (he’s a senior UX architect at a major company). Everyone else left school before finishing. So there I was
      in 2002. I was a “20 something” who walked away from two full-ride scholarships. Like many people without a college
      degree, my options were limited.
    </p>
    </div>
</div>

<div class=" col-xs-12 col-lg-4 section-container no-top">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/retail.gif');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Retail Work</h4>
  <div class="col-xs-12 container-box  about-box">
      <p>
        I began work with a local grocer
        in Omaha, NE in the deli. After moving up to a “back office” position, I was offered a job at another
        grocery chain -- Wild Oats. This began my first foray into the world of natural and organic grocery
        stores. During this time, I was still trying to figure out what I wanted to do as an adult, but I never
        lost my passion for programming.</p>
      <p>In the spring of 2005, Whole Foods announced it was going to open a store in Omaha. Whole Foods
        was a huge competitor for Wild Oats, but offered much better benefits. One of my managers at Wild Oats
        took a job with Whole Foods and offered me a buyer position there because he was impressed with my
        previous work. At the time, I believed the position would give me an opportunity to save money and work
        towards returning to school. One of the best things about working with Whole Foods was also one of the
        worst: The pay was solid and there were enough opportunities for growth that I ended up putting off
        returning to school while I climbed the “corporate ladder.” During the time at Omaha, I worked my way up
        to an associate team leader position and helped in different capacities storewide at other locations
        region-wide. When I was informed that a produce team leader position (produce manager) was available at
        a new Whole Foods store in Lincoln, I jumped at the opportunity.</p>
      <p>Moving to Lincoln was arguably one of the best decisions I have ever made. Not only did I
        receive a promotion and a brand new set of skills, it also forced me to grow as a person. My
        professional and personal growth helped me become the confident adult I am today. After roughly a
        year of the store being open, I applied for a promotion to associate store team leader (effectively
        assistant store manager). At the time I had done everything I could do as a team leader and was
        looking for more of a challenge.
      </p>
    </div>
</div>

  <div class=" col-xs-12 col-lg-4 section-container no-top">
    <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/portfolio.gif');">
    </div>
    <h4 class="section-heading text-center col-xs-12">Programming</h4>
    <div class="col-xs-12 container-box  about-box">
      <p>The first six months offered the challenge I needed and I loved
      the ability to grow as a leader and learn new tasks and skills. The unfortunate part was that after
      roughly seven months, I felt like the challenge was gone. My hope was that as I continued to move
      up in the company, more challenges would arise and I wouldn’t feel like I was missing something
      from my professional life. In roughly February, 2016, I decided that I wanted to do more with my
      life and set out on a new path.
      </p>
      <p>
      My new plan was to keep working at Whole Foods and learn new aspects of programming in my spare
      time. Unfortunately, my ASTL job required long work hours on my feet. After an exhausting day, programming
      took a back seat to resting up for the next day’s grind. So, after much soul-searching and financial
      considerations, in April of 2016, I left a successful almost 12-year career in the grocery business to
      focus on computer programming. Since that time, I have learned HTML, CSS, JavaScript,
      jQuery, AngularJS (used to program portions of this site), Java, and even some Ruby on Rails.
      I have also jumped headfirst into the Agile methodology,
      receiving certifications as both a Certified ScrumMaster and Product Owner through Scrum Alliance. It took
      me 13 years to realize this truth: programming is what I always wanted to do. A much wiser adult regrets the
      decisions of that impetuous 18-year old, but my life has had many rewards. I am already more than happy with
      my new career choice.
      </p>
    </div>
  </div>

    <div class=" col-xs-12 section-container no-top">
      <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/passions.gif');">
      </div>
      <h4 class="section-heading text-center col-xs-12">Personal Passions</h4>
      <div class="col-xs-12 container-box  about-box">
        <p>
      I have too many passions to be able to include everything here. Science and technology are probably
      at the top of the list. In my free time, I can’t read enough about physics. Gravitational time dilation
      and relativity are probably my all-time favorite physics subjects. In my opinion, better funding and
      education for science and math should be at the forefront of any talk about primary education. I’m also
      very passionate about animal rights -- a cause that I feel is critical for the future of humanity.
      As is evident by the fact that I have a food blog of my favorite recipes, I thoroughly enjoy cooking.
      While my wife and I have been vegetarian for some time, I am more than happy to discuss any type of food
      with anyone! Food is one of the great equalizers; everyone needs to eat, and everyone enjoys good food.
      Pies and candies are my favorites to cook. Candy making is more science than art (unlike some cooking)
      and appeals to me a lot more. If you want to talk food or have any suggestions for recipes, feel free to
      reach out to me!
        </p>
        <p>
      Foreign languages fascinate me. I tend to pick up little snippets of languages like a sponge and have
      more recently decided to use that skill to become fluent in several languages. Currently, I am at a
      conversational
      / intermediate level in Spanish, and I am working towards fluency in Croatian. One of the great things about
      learning foreign languages is that they not only open new opportunities, but the act of learning greatly
      improves
      other brain functions. My current track for foreign language learning is this: Croatian (which has the added
      benefit of effectively also teaching you Bosnian and Serbian); regain fluency in Spanish; then fluency in
      German.
      After my goals are met, I am excited for the future. After that, the future is wide open. If you have any
      suggestions, I would be more than happy to hear them!
        </p>
    </div>
    </div>
