.beginning{
    background-image: url('/assets/img/backgrounds/beginning.gif');
}

.school{
    background-image: url('/assets/img/backgrounds/school.gif');
}

.retail{
    background-image: url('/assets/img/backgrounds/retail.gif');
}

.portfolio{
    background-image: url('/assets/img/backgrounds/portfolio.gif');
}

.passions{
    background-image: url('/assets/img/backgrounds/passions.gif');   
}