//Unchanging panel bgs


.top-div{
  margin-top: 146px !important;
}

.banner-logo {
  position: fixed;
  border-bottom: 2px solid $sunny;
  border-top: 2px solid $sunny;
  top:46px !important;
  margin-bottom: 3px !important;
  z-index: 101 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  height: 100px !important;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  img{
    vertical-align: middle;
    max-height: 90px !important;
    height: auto;
    max-width: 90% !important;
    margin: auto !important;
  }
}

.section-heading {
  border-bottom: 1px solid $sunny !important;
  background-color: rgba($yankees-blue, 1) !important;
  color: $alabaster !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
}

.inner-heading{
  color: $yankees-blue !important;
  background-color: rgba($sunny, .4) !important;
  border: 1px solid $yankees-blue !important;
}

.home-box{
  @media(min-width: 1200px) {
    min-height: 766px !important;
  }
}

.skills-box{
  @media(min-width: 1200px) {
    min-height: 456px !important;
  }
}

.col-lg-4 .about-box{
  @media(min-width: 1200px) {
    min-height: 836px !important;
  }
}


.body {
  font-family: $content-font;
  margin: 0 !important;
  padding: 0 !important;
  background-color: $alabaster;
}

.food-container{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: white !important;
}

.food-button-next, .food-button-prev{
  margin: 0 !important;
}

.container-box{
  padding: 15px !important;
  background-color: white !important;
  p{
    font-size: initial !important;
    font-family: $paragraph-font;
  }
  @media(min-width: 1200px) {
    border: 1px solid $raisin-black;
  }

}

.section-background{
  background-size: cover; min-height: 150px !important;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 1px 1px 0 1px;
  border-color: $yankees-blue;
  border-style: solid;
  @media(max-width: 1199px){
    border-width: 1px 0 0 0 !important;
  }
}

.section-container{
  padding-top: 20px !important;
  @media(max-width: 1199px) {
    padding-left:0 !important;
    padding-right:0 !important;
  }
}

.section-container:not(.top-div):not(.no-top){
  @media(min-width: 1200px) {
    margin-top: 146px !important;
  }
}

.portfolio-container{
  margin-top: 10px !important;
  h4{
    margin: 5px 0;
  }
  a{
    text-decoration: underline;
    color: $moonstone-blue;
  }
}

.portfolio-icon{
  max-width: 50% !important;
  margin: auto;
}
@media(max-width: 767px){
  .portfolio-icon{
    max-width: 33% !important;
  }
}

@media(min-width: 768px){
  .tech-list{
    min-height: 313px;
  }
}
@media(min-width: 900px){
  .tech-list{
    min-height: 250px;
  }
}
