/*ELEMENTS----------------*/
* {
  line-height: normal !important;
  font-family: $content-font;
  color: $font-dark;
}
nav{
  -webkit-transform: translateZ(0) !important;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  font-family: $title-font !important;
}

dd{

  margin-bottom: 15px !important;

}

hr{
  padding: 1px !important;
  margin-left: 5% !important;
  width: 90% !important;
  background-color: $font-dark;
}

footer{
  background-color: $font-light;
  padding-bottom: 20px !important;
}

