/*HELPER CLASSES---------------*/
.rounded-edges {
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}


.v-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.no-top{
  margin-top: 0px !important;
}
