.recipe-title {
  min-height: 52px !important;
  margin: 7px 0 !important;
  h2{
    font-family: $title-font;
    color: $yankees-blue !important;
    text-shadow: 2px 2px $sunny !important;
  }
}

.recipeLink{
  margin-top: 5px !important;
  color: $raisin-black !important;
  text-shadow: 2px 2px $alabaster !important;
}

