extends ../../../templates/layout
block header
    meta(charset='UTF-8')
    title Tic Tac Toe
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
    link(rel='stylesheet', href='../work-examples/tic-tac-toe/css/normalize.css')
    link(rel='stylesheet', href='../work-examples/tic-tac-toe/css/tictactoe.component.css')


block content
    script(src='../work-examples/tic-tac-toe/js/main.js')
