<div class="swiper-container food-swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide col-xs-12" ng-repeat="activeRecipe in active" on-repeat-finish="makeFoodSwiper">
            <div class="pointer food-button-prev" ng-hide="$index==0" ng-click="recipeSwiper.slidePrev()">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <img class="rounded img-thumbnail img-responsive"
                     ng-src="www/img/food/{{activeNav($index-1).image}}"/><b>{{activeNav($index-1).name}}</b>
            </div>
            <div class="pointer food-button-next text-right" ng-hide="$index==active.length-1"
                 ng-click="recipeSwiper.slideNext();">
                <b>{{activeNav($index+1).name}}</b>
                <img class="rounded img-thumbnail img-responsive"
                     ng-src="www/img/food/{{activeNav($index+1).image}}"/>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
            <div class="col-xs-12 recipe-title"><h2 class="text-center">{{activeRecipe.name}}</h2></div>
            <div class="col-sm-5 col-lg-4 col-xs-6 col-xs-offset-3 col-sm-offset-0 text-center">
                <img class="rounded img-thumbnail img-responsive" ng-src="www/img/food/{{activeRecipe.image}}">
            </div>
            <div class="col-sm-7 col-xs-12 col-md-6 col-lg-8">
                <dl>
                    <dt>Results:</dt>
                    <dd> {{activeRecipe.results}}</dd>
                </dl>
                <dl>
                    <dt>Changes from Original:</dt>
                    <dd>{{activeRecipe.changes}}</dd>
                </dl>
            </div>
            <div class="text-center col-xs-12 recipeLink"><a
                    ng-href="{{activeRecipe.recipeLink}}" target="_blank"><h4>{{activeRecipe.credits}}</h4></a></div>
        </div>
    </div>
</div>
