<div class="page-container">
<div class="section-container no-shrink">
    <section-background imageFade class="section-background" [background]="'food'"></section-background>
  <h3 class="section-heading text-center uppercase font-light background-secondary">The Hungry Bear Food Blog</h3>
  <div class="section-inner-box">
    <p>
      In my opinion, food is one of the great equalizers. Everyone needs to eat
      and no matter your viewpoints, you can almost always find common ground in
      enjoyed foods. From a young age, my mother instilled in me a love of food
      and a love of cooking. She always made meals from scratch and insisted my
      sister and I help so we could learn how to cook. Because of that, cooking
      is always something I've enjoyed doing AND something I've been good at.
    </p>
    <p>
      To be fair though, it wasn't until about 6 years ago when my wife and I
      really started experimenting with food. I started baking and immediately
      fell in love. I still remember one day I just decided: "I think I'm going
      to try making a pie today." It turned out amazingly well so I tried a
      different baking recipe. That one went well, so I tried making eclairs.
      They worked out well so I tried another recipe, and so on. Originally I
      just started taking pictures of the food I made to share with my friends
      out of state. Then I decided to keep a catalog of how they turned out.
      When I went to design this site, I figured I might as well include them
      here as cooking is a part of who I am.
    </p>
  </div>
</div>

<div class="category-container background-secondary">
  <div class="category  pointer"
    *ngFor="let cat of categories; let i = index"
    [class.active]="(category | async) === i"
    (click)="setCat(i)"
  >
    <img
      class="category-img"
      [src]="
        '/assets/img/buttons/food/' +
        categories[i] +
        ((category | async) === i ? 'Active.png' : '.png')
      "
    />
    <b class="category-text text-center">{{ categories[i] | titlecase }}</b>
</div>
</div>

<div class="recipe-icon-container">
  <ng-container *ngFor="let r of recipes; let i = index">
    <div
      class="recipe-icon"
      @fadeInAnimation
      *ngIf="r.category_ID == (category | async)"
    >
      <img
        [class.active]="r.id === (activeRecipe | async).id"
        (click)="setRecipe(r)"
        [src]="'assets/img/food/' + r.image"
        title="{{ r.name }}"
      />
    </div>
  </ng-container>
</div>

<ng-container *ngFor="let r of recipes">
  <div class="recipe-container" *ngIf="r.id == (activeRecipe | async).id">
    <mat-card class="recipe-card">
      <h2 class="text-center" @fadeInAnimation>
        {{ (activeRecipe | async).name | uppercase }}
      </h2>

      <mat-card-content @fadeInAnimation class="active-recipe">
        <div class="active-recipe-image">
          <img [src]="'assets/img/food/' + (activeRecipe | async).image" alt="{{(activeRecipe | async).name }}"
        />
      </div>
        <div class="active-recipe-description">
        <h4>Results:</h4>
        <p>{{ (activeRecipe | async).results }}</p>
        <h4>Changes:</h4>
        <p>{{ (activeRecipe | async).changes }}
        </p>
      </div>  
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-button>
          <a [href]="(activeRecipe | async).recipeLink" target="_blank">{{
            (activeRecipe | async).credits
          }}</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

</div>