<div class="top-div col-xs-12 section-container">
  <div imageFade class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/food.gif');">
  </div>
  <h3 class="section-heading text-center col-xs-12">The Hungry Bear Food Blog</h3>
  <div class="col-xs-12 container-box">
    <p class="col-xs-12">In my opinion, food is one of the great equalizers. Everyone needs to eat and
      no matter your viewpoints, you can almost always find common ground in enjoyed foods.
      From a young age, my mother instilled in me a love of food and a love of cooking.
      She always made meals from scratch and insisted my sister and I help so we could
      learn how to cook. Because of that, cooking is always something I've enjoyed doing
      AND something I've been good at.
    </p>
    <p class="col-xs-12"> To be fair though, it wasn't until about 6 years ago when my wife and I really
      started experimenting with food. I started baking and immediately fell in love. I
      still remember one day I just decided: "I think I'm going to try making a pie today."
      It turned out amazingly well so I tried a different baking recipe. That one went well,
      so I tried making eclairs. They worked out well so I tried another recipe, and so on.
      Originally I just started taking pictures of the food I made to share with my friends out
      of state. Then I decided to keep a catalog of how they turned out. When I went to design
      this site, I figured I might as well include them here as cooking is a part of who I am.
    </p>
  </div>
</div>

<food-list [recipes]="recipes | async">Getting Recipe List...</food-list>

<h3 class="section-heading text-center col-xs-12">Twitter Food Updates</h3>
<div class="container-box col-xs-12">
  <a class="twitter-timeline"
     href="https://twitter.com/search?q=%23hungrybearfoodblog%20from%3Athecodingursine"
     data-widget-id="918561802233008128"
     data-tweet-limit="5"
     data-width="4000"
     data-dnt="true"
     data-chrome="nofooter noheader">
  </a>
</div>

