@import "../shared/styles/colors";
@import "../shared/styles/fonts";

.food-container{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: white !important;
}

.food-button-next, .food-button-prev{
  margin: 0 !important;
}

.thumbnail-container{
  border-bottom: 2px solid $secondary;
  margin: auto;
  min-height: 75px !important;
}

food-list{
  width: 100%;
}

.recipe-title {
  min-height: 52px !important;
  margin: 7px 0 !important;
  h2{
    font-family: $title-font;
    color: $secondary !important;
    text-shadow: 2px 2px $warning !important;
  }
}

.recipeLink{
  margin-top: 5px !important;
  color: $font-dark !important;
  text-shadow: 2px 2px $font-light !important;
}


//Images
.thumbnail-img{
  cursor: pointer !important;
  display: inline-block !important;
  min-height: 65px !important;
  min-width: 65px !important;
  img{
    max-height: 65px !important;
    width: auto !important;
  }
  margin: 5px !important;

  border: 1px solid white;
}

.active-thumb{
  border:2px solid $secondary;
}

.img-thumbnail{
  @media(min-width: 600px) {
    max-width: 70% !important;
  }
}


//Category Menus
.food-menu {
  padding: 0;
  margin-top: 20px !important;


  .pointer {
    background-color: rgba($font-light, .6) !important;
    max-height: 40px !important;
    margin: 5px .5% 5px .5%;
    width: 24% !important;

    a {
      max-height: 40px !important;
      width: 100%;
      height: 100% !important;
      overflow: hidden;
      padding: 0 !important;
      text-align: center !important;
      .link-text {
        text-shadow: none !important;
        padding-left: 10px;
      }
    }
    .button-img {
      max-height: 40px !important;
    }
  }
  .active{
    background-color: rgba($warning, .6) !important;
  }

  .double-menu {
    background-color: rgba($primary, 0.5) !important;
    width: 100%;
  }
}

//-----------MEDIA QUERIES--------------//
@media(max-width: 620px) {
  .link-text{
    display: none;
  }
}

