/*ELEMENTS----------------*/
* {
  // overflow-x: hidden;
  // overflow-y: visible;
  line-height: normal !important;
  color: $raisin-black;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
}

body {
  background-color: rgba($alabaster, .8) !important;
  font-family: $body-fonts;
  overflow-y: visible !important;
  text-shadow: .5px .5px $alabaster !important;
}
li{
  text-shadow: .5px .5px $alabaster !important;
}

@media(max-width: 800px) {
  body {
    font-size: 12px !important;
  }
}
