
    <div class="section-box panel-group" id="accordionAbout" role="tablist" aria-multiselectable="true">
        <div class="inner-section" ng-include="'./www/views/about-views/_beginning.html'"
             onload="loadChecker.aboutLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/about-views/_at-college.html'"
             onload="loadChecker.aboutLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/about-views/_retail-work.html'"
             onload="loadChecker.aboutLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/about-views/_programming.html'"
             onload="loadChecker.aboutLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/about-views/_passions.html'" onload="loadChecker.aboutLoaded()">
        </div>
    </div>
