 <div class="section-box ">
        <div class="inner-section " ng-include="'./www/views/home-views/_welcome.html'"
             onload="loadChecker.homeLoaded()">
        </div>
        <div class="inner-section " ng-include="'./www/views/home-views/_web-design.html'"
             onload="loadChecker.homeLoaded()">
        </div>
        <div class="inner-section " ng-include="'./www/views/home-views/_contact.html'"
             onload="loadChecker.homeLoaded()">
        </div>
        <div class="inner-section " ng-include="'./www/views/home-views/_updates.html'"
             onload="loadChecker.homeLoaded()">
        </div>
    </div>

