<div class="main-swiper swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide main-slide" ng-controller="HomeCtrl" ng-include="'./www/views/main-views/_home.html'"
             onload=""></div>
        <div class="swiper-slide main-slide" ng-controller="ResumeCtrl" ng-include="'./www/views/main-views/_resume.html'"
             onload=""></div>
        <div class="swiper-slide main-slide" ng-controller="AboutCtrl" ng-include="'./www/views/main-views/_about.html'"
             onload=""></div>
        <div class="swiper-slide main-slide" ng-controller="FoodCtrl" ng-include="'./www/views/main-views/_food.html'"
             onload=""></div>
    </div>
</div>
