 <div class="section-box  panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="inner-section" ng-include="'./www/views/skills-views/_objective.html'"
             onload="loadChecker.skillsLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/skills-views/_portfolio.html'"
             onload="loadChecker.skillsLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/skills-views/_proficiencies.html'"
             onload="loadChecker.skillsLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/skills-views/_certifications.html'"
             onload="loadChecker.skillsLoaded()">
        </div>
        <div class="inner-section" ng-include="'./www/views/skills-views/_jobHistory.html'"
             onload="loadChecker.skillsLoaded()">
        </div>
    </div>

