<h2 class="text-center">Turns Taken: {{ turnsTaken }}</h2>
<div [ngClass]="'grid-size-'+gridSize+ ' '+boardSize" class="board-container">
  <img  
    class="game-img"
    [class.opaque]="!gameOver"
    [src]="imgSrc"
  />
  <div
  class="game-board bg" 
  [class.hidden]="gameOver">
  <div 
    class="tile"
    [class.transitioning] = "tile.transitioning"
    [style.background-image]="tile.startX === tile.startY && tile.startX === gridSize-1 ? '' : 'url('+imgSrc+')'"
    [style.background-position]="'-'+tileSize*tile.startX+'px -'+tileSize*tile.startY+'px'"
    [ngClass]="'offset-x-'+tile.currX+' offset-y-'+tile.currY"
    *ngFor="let tile of imgGrid;"
    (click)="slideTile(tile)"
    ></div>

</div>
</div>
<button class="new-game" *ngIf="gameOver" mat-raised-button color="primary" (click)="toggleNewGame()">New Game</button>
