.food-menu {
  width: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 0 !important;
  color: $raisin-black !important;

  .active{
    background-color: rgba($sunny, .6) !important;
  }
  .pointer {
    background-color: rgba($alabaster, .6) !important;
    max-height: 40px !important;
    padding: 0 !important;
    display: inline-block !important;
    margin: 5px .5% 5px .5%;
    float: left !important;
    width: 24% !important;

    a {
      max-height: 40px !important;
      width: 100%;
      height: 100% !important;
      overflow: hidden;
      padding: 0 !important;
      text-align: center !important;
      .link-text {
       text-shadow: none !important;
        padding-left: 10px;
      }
    }
    .button-img {
      max-height: 40px !important;
    }
  }
  .double-menu {
    background-color: rgba($moonstone-blue, 0.5) !important;
    width: 100%;
  }
}

//-----------MEDIA QUERIES--------------//
@media(max-width: 500px) {
  .link-text {
    position: absolute;
    top: 35% !important;
    z-index: 5;
    left: 20%;
    color: $alabaster;
  }
  .button-img {
    float: none !important;
  }
  .active .link-text {
    display: none;
  }
}

@media(max-width: 400px) {
  .link-text {
    left: 15%;
  }
}
