.navbar-toggle {
  margin-right: 30px !important;
  z-index: 100;
  border-color: $yankees-blue !important;
  span {
    background-color: $yankees-blue !important;
  }
}

.navbar-brand{
  img{
    max-height: 45px !important;
  }
  max-height: 45px !important;
}
.navbar-header{
  background-color: $yankees-blue;

}

.navbar-toggle {
  background-color: $moonstone-blue !important;
}
.navbar-default{
  border: 0 !important;
  background-color: $yankees-blue;
}

#navbar-top {
  height: 40px !important;
  min-height: 40px !important;
  max-width: 100% !important;
}

.navbar-collapse{
  background-color: $yankees-blue;

  a{
    color: $alabaster;
  }
  .active a{
    background-color: $moonstone-blue;
    color: $alabaster;
  }
  a:hover{
    background-color: $sunny;
    color: $yankees-blue;
  }
}

#nav-menu, #main-nav, .nav-icon {
  transition: all .4s cubic-bezier(.23, .98, .01, .96);
}


$speed: 400ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

.nav-icon-wrapper {
  overflow: hidden;
  float: left;
}

.icon-bar {
  transition: opacity, transform;
  transition-duration: $speed;
  transition-timing-function: $easing;
}

.nav-menu-active {
  .icon-bar {
    &:nth-child(2) {
      transform: translateY(6px) rotate(45deg);
    }
    &:nth-child(3) {
      opacity: 0;
      transform: translateX(-100%);
    }
    &:nth-child(4) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}
