.social-icon{
  height: 32px !important;
  width: auto !important;
  margin: 0 8px !important;
}

.icon {
  max-height: 25px !important;
}

.portfolio-icon{
  max-width: 50% !important;
  margin: auto;
}
