.section-background{
  background-size: cover; min-height: 150px !important;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 1px 1px 0 1px;
  border-color: $yankees-blue;
  border-style: solid;
  transition: opacity .6s ease-in;
  @media(max-width: 1199px){
    border-width: 1px 0 0 0 !important;
  }
}
