// ------PALLETE-----
// Primary Colors
$primary: rgb(123, 191, 191);
$secondary: rgb(15, 60, 89);
$warning: rgb(255, 241, 125);
$font-dark: rgb(37, 38, 39);
$font-light: rgb(243, 239, 233);

.material-icons {
  font-family: "Material Icons" !important;
}
/* =================================
  Element Styles
==================================== */

.margin-auto{
  margin: auto;
}

/* =================================
  Page Components
==================================== */

.movie:hover {
  .movie-title {
    color: $primary;
  }
}

.icon-help {
  font-size: 6em;
  margin-bottom: 12px;
  color: #dfdfdf;
  display: block;
}


//NEW STYLES

.row-flex {
  display: flex;
  flex-flow: row wrap;
}

.column-flex{
  display: flex;
  flex-flow: column;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.movie-container{
  min-height: calc(100vh - 200px);
}

// SEARCH BOXES

.search-form {
  justify-content: center;
  margin: auto;
  width: 95%;

  .search-field {
    margin: 0 5px;
    flex-basis: 80%;
  }

}

// MOVIE LIST

.movie{
  margin: 5px auto;
  flex-basis: calc(25% - 10px);
  justify-content: space-between;
  movie-poster{
    margin: auto;
  }
  @media(max-width: 1000px){
    flex-basis: calc((100% / 3) - 10px);
  }
  @media(max-width: 800px){
    flex-basis: calc(50% - 10px);
  }
}

.portfolio-exit{
  margin: 10px;
}

