<div class="main-content col-xs-12">


<movie-more-info  *ngIf="moreInfo && !loading" [movie]="activeMovie" (close)="closeMore($event)"></movie-more-info>


  <div class="main-header col-xs-12" *ngIf="!moreInfo">
      <h3 class="main-title col-xs-12">OMDB API Movie Search</h3>
      <div class="search-form col-xs-12">
        <input class="col-xs-6 col-md-6 col-md-offset-3" id="search" [(ngModel)]="movieSearch" type="search" name="movie" placeholder="Search a Title...">
        <input class="col-xs-5 col-xs-offset-1 col-md-3" id="year" [(ngModel)]="yearSearch" type="number" maxlength="4" min=1900 max=2020 name="year" placeholder="Year"/>
        <button (click)="searchSubmit()" class="search-button"><i class="material-icons icn-search">search</i></button>
      </div>
  </div>

  <div class="col-xs-12 centered" *ngIf="loading">LOADING...<br><img src="../../../assets/img/portfolio/movie-search/bar.gif"></div>

  <ul id="movies" class="movie-list col-xs-12"  *ngIf="!moreInfo">
    <li class="no-movies text-center" *ngIf="error.err"><i class="material-icons icon-help">help_outline</i>{{error.msg}}</li>
    <li *ngFor="let m of movieList" data-toggle="tooltip" title="Click to see more about {{m.Title}}" class="movie_more col-xs-12 col-sm-6 col-md-4 col-lg-3" (click)="showMore(m.imdbID)">
      <movie-search-image [imdbID]="m.imdbID"></movie-search-image>
      <span class="movie-title col-xs-12 text-center" >{{m.Title}}</span>
      <span class="movie-year  col-xs-12 text-center">{{m.Year}}</span>
    </li>
  </ul>
  <pagination-component *ngIf="!moreInfo" [perPage]="10" (action)="pullMovies($event)" [active]="currentPage" [total]="totalMovies"></pagination-component>
</div>



<a class="col-xs-12 text-center" style="background-color: white !important; margin-top: 20px !important;" [routerLink]="['/portfolio']">
<h4>Back to Portfolio</h4></a>

