<div id="pagination-div" class="col-12" *ngIf="total > perPage">
  <div class="margin-auto text-center">{{totalPages}} total pages</div>
  <div class="margin-auto text-center">{{total}} movies found</div>
  <div class="margin-auto text-center">
    <div>
      <button mat-raised-button color="primary" *ngIf="active !== 1" (click)="action.emit(1)">
        <mat-icon matListIcon>first_page</mat-icon></button>
      <button mat-raised-button color="primary" *ngFor="let i of buttons;" ngClass="{{active == i ? 'active' : ''}}" (click)="action.emit(i)">
      
        {{i}}
      </button>
      <button mat-raised-button color="primary" *ngIf="active !== totalPages.length" (click)="action.emit(totalPages.length)">
        <mat-icon matListIcon>last_page</mat-icon>
      </button>
    </div>
  </div>
</div>
