extends ../../../templates/layout
block header
    meta(charset='utf-8')
    title Movie Search
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='../work-examples/movie-search/css/style.css')

block content
    .main-header
        .inner
            h1.main-title MovieSearch
            form.search-form
                label.is-hidden(for='search') Search a title
                input#search(type='search', name='search', placeholder='Search a Title...')
                label.is-hidden(for='year') Any Year
                input#year(type='text', maxlength='4', name='year', placeholder='Year')
                button#submit.search-button(type='submit')
                    i.material-icons.icn-search search
    #expandedInfo
    .main-content.clearfix
        ul#movies.movie-list
            .no-movies
                i.material-icons.icon-help help_outline
                |             You Need JavaScript to in order for this site to work
    #pagination-div
    script(src='http://code.jquery.com/jquery-1.12.0.min.js')
    script(src='../work-examples/movie-search/js/app.js')