.material-icons {
  font-family: 'Material Icons' !important;
}

.movie-poster{
  display: block;
  margin: auto;
}

.more-placeholder {
  padding-top: 110px;
  color: #dadada;
  font-size: 5em;
  text-align: center;
}
