
<div class="panel panel-default">
    <div class="panel-heading skills-panel-heading skills3" role="tab" id="headingFour" data-toggle="" data-target="#collapseFour"
         aria-expanded="false" aria-controls="collapseFour">
        <h3 class="panel-title text-center ">
            Certifications and Awards
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body" >
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">COMPLETED: SCRUM ALLIANCE&reg Certified ScrumMaster <img
                        class='icon' src="../www/img/icons/ScrumMaster.png"
                        title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
                <li class="list-group-item list-group-item-success">COMPLETED: SCRUM ALLIANCE&reg Certified Scrum Product Owner<img
                        class='icon' src="../www/img/icons/ProductOwner.png"
                        title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
                <li class="list-group-item list-group-item-success">Walter Scott Scholar UNOmaha 2000</li>
                <li class="list-group-item list-group-item-success">Eagle Scout through Boy Scouts of America</li>
                <li class="list-group-item list-group-item-warning">IN PROGRESS: Java Level I Certification</li>
            </ul>
        </div>
    </div>
</div>