
<div class="panel panel-default">
    <div class="panel-heading skills-panel-heading skills4" role="tab" id="headingFive" data-toggle="" data-target="#collapseFive"
         aria-expanded="false" aria-controls="collapseFive">
        <h3 class="panel-title text-center ">
            Job History
        </h3>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body" >
            <dl ng-repeat="job in jobs">
                <dt class="innerHeading titleHeading">{{job.jobTitle | uppercase}}<span
                        class="pull-right">{{job.timeOfService}}</span></dt>
                <br>
                <dd ng-repeat="j in job.jobDuties">{{j}}</dd>
            </dl>
        </div>
    </div>
</div>