
<div class="panel panel-default">
    <div class="panel-heading skills-panel-heading skills" role="tab" id="headingOne" data-toggle="" data-target="#collapseOne"
         aria-expanded="true" aria-controls="collapseOne">
        <h3 class="panel-title text-center ">
            Our Goal
        </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" >
            <p> My goal is to bring the knowledge I have gained working as both
                a team leader and a team member. As I have literally given up a career to pursue my dream of coding,
                what I bring more than anyone else is a passion for this work. I am an incredibly fast learner and am eager to show
                anyone
                who needs my talents what I am truly capable of. No task is too big when you're following your dream, and I attack
                every challenge
                that is given to me with that mentality. I look forward to hearing from you and how I can help your brand grow. I'm not
                naive enough to think that passion is all that you're looking for however. I also bring experience dealing with large
                projects with hard deadlines and high expectations. I've dealt with profit and loss statements for years and know how important
                getting done on time and on budget is, especially for someone growing their internet business.

            </p>
        </div>
    </div>
</div>