<div class="panel panel-default">
    <div class="panel-heading skills-panel-heading skills1" role="tab" id="headingTwo" data-toggle="" data-target="#collapseTwo"
         aria-expanded="false" aria-controls="collapseTwo">
        <h3 class="panel-title text-center ">
            Portfolio
        </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body" >
            <ul class='list-group'>
                <li class="list-group-item"><a href="https://www.linkedin.com/pub/michael-truax/11a/690/625" target='_blank'>
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class='icon'>Michael Truax </a>
                </li>
                <li class="list-group-item"><a href="https://github.com/miketruax" target='_blank'>
                    <img src="/www/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repository</a>
                </li>
            </ul>
            <dl class="dl-horizontal">
                <dt>Website Design</dt>
                <dd>www.miketruax.com <a target="_blank" href="https://github.com/miketruax/mike-truax-site"><img
                        src="/www/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon"></a>
                    <ul>
                        <li>HTML5 / Bootstrap / SCSS for design</li>
                        <li>AngularJS (with angular-ui plugin), JQuery, and raw Javascript.</li>
                        <li>All code and layout done manually (i.e. without design software)</li>
                        <li>Images and initial layout concept by in-house designer.</li>
                        </li>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Simple Web-Apps</dt>
                <dd><a target="_blank" href="/examples/tic-tac-toe">Simple Tic-Tac-Toe app with minimal AI
                    capabilities</a>.
                    <ul>
                        <li>Majority of the styling was provided by http://www.teamtreehouse.com</li>
                        <li>All JavaScript was done by myself.</li>
                        <li> Utilizes raw JS and JQuery for easier DOM manipulation</li>
                    </ul>
                </dd>
                <dd><a target="_blank" href="/examples/moviesearch">Movie Search Engine</a>
                    <ul class='list innerHeading'>
                        <li> Utilizes the OMDB API for JSONP calling</li>
                        <li> Front Page formatting by http://www.teamtreehouse.com</li>
                        <li> "More Info" page formatting done by me</li>
                        <li> Utilizes JQuery for JSON Calls</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>

