<div mat-dialog-title>
        <h2 class="font-secondary">{{(movie | async).Title}}  ({{(movie | async).Year}})</h2>
        <div class="text-center font-secondary">IMDB Rating: {{(movie | async).imdbRating}}</div>
</div>
<div mat-dialog-content>
    <div class="poster-wrap">
        <movie-poster [imdbID]="(movie | async).imdbID"></movie-poster>
    </div>
    <h3 class="text-center font-secondary">Plot Synopsis:</h3>
    <p class="synopsis font-secondary">{{(movie | async).Plot}}</p>
</div>

<div mat-dialog-actions class="button-container">
    <a mat-raised-button [href]="'http://www.imdb.com/title/'+(movie | async).imdbID" target="_blank" class="text-center button">View On IMDB</a>
    <button mat-raised-button color="warn" (click)="dismiss()" class="button text-center">Close</button>
</div>    