@import url('//fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
$content-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$tagline-font: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$title-font: "Rockwell Extra Bold", "Rockwell Bold", monospace;
$paragraph-font: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$body-fonts: "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif !important;
$panel-head-fonts: Impact, ImpactTTF, ImpactEOT, "Avenir Next Condensed", Charcoal, sans-serif;
