
<h2 class="section-heading text-center col-xs-12 top-div">
      Our Goal
    </h2>

    <div class="col-xs-12 container-box" >
      My goal is to bring the knowledge I have gained working as both
        a team leader and a team member. As I have literally given up a career to pursue my dream of coding,
        what I bring more than anyone else is a passion for this work. I am an incredibly fast learner and am eager to show
        anyone
        who needs my talents what I am truly capable of. No task is too big when you're following your dream, and I attack
        every challenge
        that is given to me with that mentality. I look forward to hearing from you and how I can help your brand grow. I'm not
        naive enough to think that passion is all that you're looking for however. I also bring experience dealing with large
        projects with hard deadlines and high expectations. I've dealt with profit and loss statements for years and know how important
        getting done on time and on budget is, especially for someone growing their internet business.
    </div>

<h2 class="section-heading text-center col-xs-12 ">
  Certifications and Awards </h2>
    <div class="col-xs-12 container-box" >
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">COMPLETED: SCRUM ALLIANCE&reg Certified ScrumMaster <img
          class='icon' src="assets/img/icons/ScrumMaster.png"
          title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
        <li class="list-group-item list-group-item-success">COMPLETED: SCRUM ALLIANCE&reg Certified Scrum Product Owner<img
          class='icon' src="assets/img/icons/ProductOwner.png"
          title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
        <li class="list-group-item list-group-item-success">Walter Scott Scholar UNOmaha 2000</li>
        <li class="list-group-item list-group-item-success">Eagle Scout through Boy Scouts of America</li>
        <li class="list-group-item list-group-item-warning">IN PROGRESS: Java Level I Certification</li>
      </ul>
    </div>



<h2 class="section-heading text-center col-xs-12 ">
      Proficiencies</h2>

      <div class="col-xs-12 container-box">
        <div class="col-xs-12">
        <dl class=" col-xs-6 ">
          <dt>JavaScript
          <dt>
          <dd>JQuery</dd>
          <dd>Node.js</dd>
          <dd>AngularJS</dd>
          <dd>Express (with Jade template Engine)</dd>
        </dl>
        <dl class="  col-xs-6 ">
          <dt>Web Design</dt>
          <dd>CSS / SCSS</dd>
          <dd>HTML5</dd>
          <dd>Full knowledge of Bootstrap CSS</dd>
        </dl>
      </div>
      <div class="col-xs-12">
        <dl class=" col-xs-6 ">
          <dt>Java
          <dt>
          <dd>Hibernate</dd>
          <dd>Express</dd>
        </dl>
        <dl class="  col-xs-6 ">
          <dt>Ruby
          <dt>
          <dd>Working knowledge of Ruby on Rails</dd>
        </dl>
      </div>
      <div class="col-xs-12">
        <dl class="  col-xs-12 ">
          <dt> Other Proficiencies</dt>
          <dd> SQL</dd>
          <dd>Microsoft Office Programs</dd>
          <dd>Full knowledge of Agile Methodology</dd>
          <dd>Excellent verbal and written communication skills</dd>
          <dd>Highly organized and detail-oriented</dd>
          <dd>Established track record of financial planning for business units</dd>
          <dd>Keenly developed problem-solving and multi-step brainstorming skills</dd>
          <dd>Fair and consistent personnel management approach</dd>
        </dl>
      </div>
      </div>



<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading skills-panel-heading skills4" role="tab" id="headingFive" data-toggle="" data-target="#collapseFive"-->
       <!--aria-expanded="false" aria-controls="collapseFive">-->
    <!--<h3 class="panel-title text-center ">-->
      <!--Job History-->
    <!--</h3>-->
  <!--</div>-->
  <!--<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">-->
    <!--<div class="panel-body" >-->
      <!--<dl ng-repeat="job in jobs">-->
        <!--<dt class="innerHeading titleHeading">{{job.jobTitle | uppercase}}<span-->
          <!--class="pull-right">{{job.timeOfService}}</span></dt>-->
        <!--<br>-->
        <!--<dd ng-repeat="j in job.jobDuties">{{j}}</dd>-->
      <!--</dl>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

