
<div class="panel panel-default">
  <div class="panel-heading skills-panel-heading skills" role="tab" id="headingOne" data-toggle="" data-target="#collapseOne"
       aria-expanded="true" aria-controls="collapseOne">
    <h3 class="panel-title text-center ">
      Our Goal
    </h3>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body" >
      <p> My goal is to bring the knowledge I have gained working as both
        a team leader and a team member. As I have literally given up a career to pursue my dream of coding,
        what I bring more than anyone else is a passion for this work. I am an incredibly fast learner and am eager to show
        anyone
        who needs my talents what I am truly capable of. No task is too big when you're following your dream, and I attack
        every challenge
        that is given to me with that mentality. I look forward to hearing from you and how I can help your brand grow. I'm not
        naive enough to think that passion is all that you're looking for however. I also bring experience dealing with large
        projects with hard deadlines and high expectations. I've dealt with profit and loss statements for years and know how important
        getting done on time and on budget is, especially for someone growing their internet business.

      </p>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading skills-panel-heading skills1" role="tab" id="headingTwo" data-toggle="" data-target="#collapseTwo"
       aria-expanded="false" aria-controls="collapseTwo">
    <h3 class="panel-title text-center ">
      Portfolio
    </h3>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body" >
      <ul class='list-group'>
        <li class="list-group-item"><a href="https://www.linkedin.com/pub/michael-truax/11a/690/625" target='_blank'>
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class='icon'>Michael Truax </a>
        </li>
        <li class="list-group-item"><a href="https://github.com/miketruax" target='_blank'>
          <img src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repository</a>
        </li>
      </ul>
      <dl class="dl-horizontal">
        <dt>Website Design</dt>
        <dd>www.miketruax.com <a target="_blank" href="https://github.com/miketruax/mike-truax-site"><img
          src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon"></a>
          <ul>
            <li>HTML5 / Bootstrap / SCSS for design</li>
            <li>AngularJS (with angular-ui plugin), JQuery, and raw Javascript.</li>
            <li>All code and layout done manually (i.e. without design software)</li>
            <li>Images and initial layout concept by in-house designer.</li>
            </ul>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Simple Web-Apps</dt>
        <dd><a target="_blank" href="/examples/tic-tac-toe">Simple Tic-Tac-Toe app with minimal AI
          capabilities</a>.
          <ul>
            <li>Majority of the styling was provided by http://www.teamtreehouse.com</li>
            <li>All JavaScript was done by myself.</li>
            <li> Utilizes raw JS and JQuery for easier DOM manipulation</li>
          </ul>
        </dd>
        <dd><a target="_blank" href="/examples/moviesearch">Movie Search Engine</a>
          <ul class='list innerHeading'>
            <li> Utilizes the OMDB API for JSONP calling</li>
            <li> Front Page formatting by http://www.teamtreehouse.com</li>
            <li> "More Info" page formatting done by me</li>
            <li> Utilizes JQuery for JSON Calls</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading skills-panel-heading skills3" role="tab" id="headingFour" data-toggle="" data-target="#collapseFour"
       aria-expanded="false" aria-controls="collapseFour">
    <h3 class="panel-title text-center ">
      Certifications and Awards
    </h3>
  </div>
  <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body" >
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">COMPLETED: SCRUM ALLIANCE&reg Certified ScrumMaster <img
          class='icon' src="assets/img/icons/ScrumMaster.png"
          title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
        <li class="list-group-item list-group-item-success">COMPLETED: SCRUM ALLIANCE&reg Certified Scrum Product Owner<img
          class='icon' src="assets/img/icons/ProductOwner.png"
          title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
        <li class="list-group-item list-group-item-success">Walter Scott Scholar UNOmaha 2000</li>
        <li class="list-group-item list-group-item-success">Eagle Scout through Boy Scouts of America</li>
        <li class="list-group-item list-group-item-warning">IN PROGRESS: Java Level I Certification</li>
      </ul>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading skills-panel-heading skills2" role="tab" id="headingThree" data-toggle="" data-target="#collapseThree"
       aria-expanded="false" aria-controls="collapseThree">
    <h3 class="panel-title text-center ">
      Proficiencies
    </h3>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
       aria-labelledby="headingThree">
    <div class="panel-body" >

      <div class="col-xs-12">
        <dl class=" col-xs-6 ">
          <dt>JavaScript
          <dt>
          <dd>JQuery</dd>
          <dd>Node.js</dd>
          <dd>AngularJS</dd>
          <dd>Express (with Jade template Engine)</dd>
        </dl>
        <dl class="  col-xs-6 ">
          <dt>Web Design</dt>
          <dd>CSS / SCSS</dd>
          <dd>HTML5</dd>
          <dd>Full knowledge of Bootstrap CSS</dd>
        </dl>
      </div>
      <div class="col-xs-12">
        <dl class=" col-xs-6 ">
          <dt>Java
          <dt>
          <dd>Hibernate</dd>
          <dd>Express</dd>
        </dl>
        <dl class="  col-xs-6 ">
          <dt>Ruby
          <dt>
          <dd>Working knowledge of Ruby on Rails</dd>
        </dl>
      </div>
      <div class="col-xs-12">
        <dl class="  col-xs-12 ">
          <dt> Other Proficiencies</dt>
          <dd> SQL</dd>
          <dd>Microsoft Office Programs</dd>
          <dd>Full knowledge of Agile Methodology</dd>
          <dd>Excellent verbal and written communication skills</dd>
          <dd>Highly organized and detail-oriented</dd>
          <dd>Established track record of financial planning for business units</dd>
          <dd>Keenly developed problem-solving and multi-step brainstorming skills</dd>
          <dd>Fair and consistent personnel management approach</dd>
        </dl>
      </div>
    </div>
  </div>
</div>



<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading skills-panel-heading skills4" role="tab" id="headingFive" data-toggle="" data-target="#collapseFive"-->
       <!--aria-expanded="false" aria-controls="collapseFive">-->
    <!--<h3 class="panel-title text-center ">-->
      <!--Job History-->
    <!--</h3>-->
  <!--</div>-->
  <!--<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">-->
    <!--<div class="panel-body" >-->
      <!--<dl ng-repeat="job in jobs">-->
        <!--<dt class="innerHeading titleHeading">{{job.jobTitle | uppercase}}<span-->
          <!--class="pull-right">{{job.timeOfService}}</span></dt>-->
        <!--<br>-->
        <!--<dd ng-repeat="j in job.jobDuties">{{j}}</dd>-->
      <!--</dl>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

