<div class="top-div col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/schematic.jpeg');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Project <br> Philosophy</h4>
  <div class="col-xs-12 container-box  skills-box">
    <p>
      My philosophy is to bring the knowledge I have gained working as both
      a team leader and a team member to any project I approach. I originally gave up a career to pursue programming full-time
      so I give everything I have to each project as this is literally my dream job. I am always eager to show everyone
      I work with my talents and what I am truly capable of. No task is too big when you're following your dream, and I attack
      every challenge that is given to me with that mentality. I look forward to hearing from you and how I can help your brand
      grow in whatever capacity that may entail. I'm not naïve enough to think that passion is all that you're looking for however.
      I also bring experience dealing with large projects with hard deadlines and high expectations. I've dealt with profit and
      loss statements for years and know how important getting done on time and on budget is, whether you're trying to grow your
      business or maintain the track record you have already established
    </p>
  </div>
</div>

<div class="col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/code2.jpeg');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Programming <br>Knowledge</h4>
  <div class="col-xs-12 container-box  skills-box">

    <h5>Full Proficiencies:</h5>
    <b>JavaScript</b>
    <ul>
      <li>jQuery</li>
      <li>Node.js including RESTful API Design</li>
      <li>AngularJS and Angular 2(Typescript)</li>
      <li>Express</li>
      <li>Passport authentication</li>
    </ul>

    <b>Web Design</b>
    <ul>
      <li>CSS/SCSS (Including Bootstrap)</li>
      <li>HTML5</li>
      <li>Third-party API Integration</li>
      <li>Knowledge of security practices for CSRF/XSS/ SQL Injection</li>
    </ul>

    <b>Database Management</b>
    <ul>
      <li>MongoDB including Mongoose through Node</li>
      <li>SQL (Lite and PostGres) Integration via Node and Ruby on Rails</li>
    </ul>
    <h5>Intermediate Knowledge Of:</h5>
    Java including Hibernate and Spring MVC<br>
    Ruby including Ruby on Rails
  </div>
</div>

<div class="col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/certifications.jpeg');">

  </div>
  <h4 class="section-heading text-center col-xs-12">Certifications<br> And Other Skills</h4>
  <div class="col-xs-12 container-box  skills-box">
    <b>Certifications:</b>
    <ul>
      <li>
        SCRUM ALLIANCE Certified ScrumMaster
        <img class='icon' src="assets/img/icons/ScrumMaster.png" title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc.">
      </li>
      <li>COMPLETED: SCRUM ALLIANCE Certified Scrum Product Owner<img
        class='icon' src="assets/img/icons/ProductOwner.png"
        title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
    </ul>
    <b>Awards:</b>
    <ul>
      <li>Walter Scott Scholar UNOmaha 2000</li>
      <li>Eagle Scout through Boy Scouts of America</li>
    </ul>
    <b>Non Programming Skills</b>
    <ul>
      <li>Full Knowledge of Microsoft Office Programs</li>
      <li>Working knowledge of Agile Methodology</li>
      <li>Excellent verbal and written communication skills</li>
      <li>Highly organized and detail-oriented</li>
      <li>Established track record of financial planning for business units</li>
      <li>Keenly developed problem-solving and multi-step brainstorming skills</li>
      <li>Fair and consistent personnel management with 10 years of management experience overseeing teams of 10 to 100</li>
    </ul>
  </div>
</div>








<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading skills-panel-heading skills4" role="tab" id="headingFive" data-toggle="" data-target="#collapseFive"-->
       <!--aria-expanded="false" aria-controls="collapseFive">-->
    <!--<h3 class="panel-title text-center ">-->
      <!--Job History-->
    <!--</h3>-->
  <!--</div>-->
  <!--<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">-->
    <!--<div class="panel-body" >-->
      <!--<dl ng-repeat="job in jobs">-->
        <!--<dt class="innerHeading titleHeading">{{job.jobTitle | uppercase}}<span-->
          <!--class="pull-right">{{job.timeOfService}}</span></dt>-->
        <!--<br>-->
        <!--<dd ng-repeat="j in job.jobDuties">{{j}}</dd>-->
      <!--</dl>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

