ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.computer {
  margin-top: 1rem;
}


#playOne, #playTwo {
  color: $yankees-blue;
}

.play1, .play2 {
  color: $sunny;
}

.screen {
  height: 400px;
  background: $alabaster;
}

.screen-start div{
  margin-top:100px !important;
}


.screen-start button {
  color: $yankees-blue !important;
  background-color: $moonstone-blue !important;
  margin-bottom: 30px !important;
  height: 60px !important;
}


.screen-win p, .screen-win h1 {
  font-size: 6em;
  font-weight: 700;
  color: $alabaster
}


.screen-win-3 {
  background: rgb(123, 191, 191);
}

.screen-win-1 {
  background: $yankees-blue;
}

.screen-win-1 button {
  color: rgb(21, 54, 66);
}



.screen-win-2 {
  background: $yankees-blue;
}


.board {
  padding-top: 1em;
}

.board h1 {
  margin-top: 0.3em;
}

.players {
  color: rgba($alabaster, 0.2);
  text-align: center;
  padding: 1.25em 0 1em;
  outline: 1px solid $alabaster;
  transition: 1s;
}

.players svg g {
  fill: rgba($yankees-blue, 0.15);
}


.players-turn {
  outline: none;
}

.player1.active svg g{
  fill: $alabaster;
}

.player2.active svg g {
  fill: #aaa;
}

.player1.active {
  background: rgba($moonstone-blue, 1);
}

.player2.active {
  background: rgb(21, 54, 66);
}

#O, #X {
  color: rgba($yankees-blue, .7);
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
}

.active #O, .active #X {
  color: rgb(243, 239, 233);
}

.boxes {
  width: 320px;
  margin: 3em auto 0;
}

.boxes .box {
  background: $alabaster;
  border-radius: 4px;
  border: 2px solid $yankees-blue;
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 1.75em;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center center;
}

.boxes .box:nth-child(3n-2) {
  clear:left;
}

.boxes .box-filled-1 {
  background-color: $moonstone-blue;
  background-image: url(../../assets/img/portfolio/tictactoe/o.svg);
}

.boxes .box-filled-2 {
  background-color: $yankees-blue;
  background-image: url(../../assets/img/portfolio/tictactoe/x.svg);
}
