@import "../shared/styles/fonts";
@import "../shared/styles/colors";

.portfolio-container{
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px !important;
  p{
    font-size: 14px !important;
  }
  h4{
    margin: 5px 0;
  }
  a{
    text-decoration: underline;
    color: $primary;
  }
}

.portfolio-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media(max-width: 767px){
  .portfolio-container:nth-child(even){
    background-color: $font-light !important;
  }
  .portfolio-icon{
    max-width: 33% !important;
  }
}
.tech-list{
  flex: 1 1 auto;
  margin-bottom: 0 !important;
}

.portfolio-exit{
  clear: both;
  background-color: white !important;
  margin-top: 20px !important;
  display: flex;
}

.portfolio-title{
  height: 63px;
}

.portfolio-icon{
  max-width: 50% !important;
  margin: 10px auto;
}

.grid-list{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  .grid-item-desc{
      width: calc(100% - 10px);
      padding: 0 5px;
  }
}
.grid-item{
  flex-basis: calc(100%/3 - 4px);
  display: flex;
  flex-flow: column wrap;
  margin: 2px;
}

.grid-item-title{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  height: 47px;
  margin: 0;
  .grid-title-text{  
      max-width: calc(100% - 30px);
      margin: 0;
  }
}


.mat-list, .mat-list-item, .mat-subheader{
    height: auto !important;
    padding: 3px 16px;
}

.auto-width{
  width: auto !important;
}

.mat-list-icon{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-right: 5px;
  border-radius: 0 !important;
}

.js-list{
  .mat-list-icon{
    padding-right: 72.96px
  }
  .nodejs{
    padding-right: 56.78px;
  }
  .express{
    padding-right: 15.82px;
  }
  .mongo{
    padding-right: 4px;
  }
}

.js-list, .cert-list{
  margin-top: 16px;
  .mat-subheader:first-child{
    margin-top: 0px;
  }
}