@import "../shared/styles/fonts";
@import "../shared/styles/colors";

.full-width{
  flex-basis: 100%;
}

// Portfolio Section
.portfolio-container{
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.portfolio-icon{
  max-height: 200px;
  margin: 2.5px auto;
  display: block;
}

.icon-container{
  background-color: rgba($font-dark, .3);
  flex-basis: calc(100%/3);
  &:hover{
    .portfolio-icon{
      margin: 0 auto;
      max-height: 205px;
    }
  }
}

@media(min-width: 768px){
  .icon-container:nth-child(even){
    background-color: rgba($font-light, .6) !important;  
  }
}

@media(max-width: 767px){
  .icon-container{
    flex-basis: 50%;
    .portfolio-icon{
      max-height: 145px;
    }
    &:hover{
      .portfolio-icon{
        max-height: 150px;
      }
  }
  }
  .icon-container:nth-child(3n+1), .icon-container:nth-child(3n+5){
    background-color: rgba($font-light, .6) !important;
  }
}


// Tech Lists


.mat-list, .mat-list-item, .mat-subheader{
    height: auto !important;
    padding: 3px 16px;
}

.mat-subheader{
  margin-top: 4px;
}

.mat-list-item, .mat-subheader{
  border: .5px solid rgba($secondary, .3);
  border-width: 0 0 .5px 0;
}

.auto-width{
  width: auto !important;
}

.mat-list-icon{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-right: 5px;
  border-radius: 0 !important;
}

.prof-list{
  .mat-list-icon:not(.mongo){
    padding-right: 59.75px
  }
  .nodejs{
    padding-right: 46.97px !important;
  }
  .express{
    padding-right: 13.8px !important;
  }
  .postGres{
    padding-right: 60.36px !important;
  }

}

.prof-list, .cert-list{
  flex-basis: calc(50% - 32px);
  flex-grow: 1;
  margin-top: 16px;
}

@media(max-width: 600px){
  .prof-list, .cert-list{
    flex-basis: calc(100% - 32px);
  }
}

.list-container{
  display: flex;
  flex-flow: row wrap;
}

