<div class="top-div col-12 col-xl-4 section-container">
  <div imageFade class="col-12 section-background"
       style="background-image: url('/assets/img/backgrounds/philosophy.gif');">
  </div>
  <h4 class="section-heading text-center col-12">Project <br> Philosophy</h4>
  <div class="col-12 container-box  " slideBox>
    <p class="col-12">
      My philosophy is to bring my knowledge from working as both a team leader and a team member to any project I
      approach. I originally gave up a decade-long career in another industry to pursue programming full-time—this is
      literally my dream job—so, I give
      everything I have to each project. I am eager to prove my talents and what I am truly capable of with every
      contract. No task is too big when you're following your dream, and I attack every challenge with that mentality.
    </p>
    <p class="col-12">I'm not naïve enough to think that passion is all that a potential client is looking for, of
      course. I also bring
      experience dealing with large projects with hard deadlines and high expectations. I've dealt with profit and loss
      statements for years; I know how important it is to be done on time and under budget.</p>
  </div>
</div>

<div class="col-12 col-xl-4 section-container">
  <div imageFade class="col-12 section-background"
       style="background-image: url('/assets/img/backgrounds/programming.gif');">
  </div>
  <h4 class="section-heading text-center col-12">Programming <br>Knowledge</h4>
  <div class="col-12 container-box  " slideBox>

    <h5 class="col-12">Full Proficiencies:</h5>
    <div class="col-12">
      <b>JavaScript</b>
      <ul>
        <li>Node.js</li>
        <li>RESTful API Design and integration</li>
        <li>AngularJS and Angular 2 through 5(Typescript)</li>
        <li>Express</li>
        <li>Redux/Rxjs/ Ngrx store/reducer/state programming</li>
        <li>ReactJs</li>
        <li>jQuery</li>
      </ul>
    </div>
    <div class="col-12">
      <b>Web Design</b>
      <ul>
        <li>CSS/SCSS/LESS</li>
        <li>Bootstrap</li>
        <li>HTML5</li>
        <li>Third-party API Integration</li>
        <li>Passport authentication</li>
        <li>Knowledge of security practices for CSRF/XSS/ SQL Injection</li>
      </ul>
    </div>
    <div class="col-12">
      <b>Database Management</b>
      <ul>
        <li>MongoDB/ NOSQL DBs including Mongoose through Node</li>
        <li>SQL (Lite and PostGres) Integration via Node and Ruby on Rails</li>
      </ul>
      <b>Intermediate Proficiencies</b>
      <ul>
        <li>Java with Hibernate and Spring MVC</li>
        <li>Ruby and Ruby on Rails</li>
      </ul>
    </div>
</div>
</div>

<div class="col-12 col-xl-4 section-container">
    <div imageFade class="col-12 section-background"
         style="background-image: url('/assets/img/backgrounds/planning.gif');">

    </div>
    <h4 class="section-heading text-center col-12">Certifications<br> And Other Skills</h4>
    <div class="col-12 container-box  " slideBox>
      <div class="col-12">
        <b>Certifications:</b>
        <ul>
          <li>
            SCRUM ALLIANCE Certified ScrumMaster
            <img class='icon social-icon' src="assets/img/icons/ScrumMaster.png"
                 title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc.">
          </li>
          <li>SCRUM ALLIANCE Certified Scrum Product Owner<img
            class='icon social-icon' src="assets/img/icons/ProductOwner.png"
            title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
        </ul>
      </div>
      <div class="col-12">
        <b>Awards:</b>
        <ul>
          <li>Walter Scott Scholar UNOmaha 2000</li>
          <li>Eagle Scout through Boy Scouts of America</li>
        </ul>
      </div>
      <div class="col-12">
        <b>Non Programming Skills</b>
        <ul>
          <li>Full Knowledge of Microsoft Office Programs</li>
          <li>Working knowledge of Agile Methodology</li>
          <li>Excellent verbal and written communication skills</li>
          <li>Highly organized and detail-oriented</li>
          <li>Established track record of financial planning for business units</li>
          <li>Keenly developed problem-solving and multi-step brainstorming skills</li>
          <li>Fair and consistent personnel management with 10 years of management experience overseeing teams of 10 to
            100
          </li>
        </ul>
      </div>
    </div>
</div>


<div class="col-12 section-container no-top">
    <div imageFade class="col-12 section-background"
         style="background-image: url('/assets/img/backgrounds/portfolio.gif');">
    </div>
    <h3 class="section-heading text-center col-12">Portfolio</h3>
    <div class="col-12 container-box  portfolio-box">

      <div class="col-12">
        <h4 class="col-12 text-center section-heading  inner-heading">Sample Apps and Websites</h4>
      </div>

      <div class="col-12 col-md-4 col-xl-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/buddyTrakr.png"/>
        <h3 class="col-12 text-center ">Buddy <br>Trakr</h3>
        <a target="_blank" href="http://buddytrakr.herokuapp.com" class=" port-link col-12 text-center">Check it
          out</a>
        <hr>
        <h4 class="text-center col-12">About</h4>
        <p class="col-12 portfolio-about">Tracking app for stuffed animals. This was originally a pet project of mine
          that I used to
          teach myself a lot of Angular2 and Authentication via passport</p>
        <h4 class="text-center col-12">Tech Stack</h4>
        <ul class="col-12 tech-list">
          <li>Angluar 2 w/ Angular CLI for ease of scaffolding</li>
          <li>Bootstrap and SCSS for styling</li>
          <li>Rxjs and ngrx for Observables and Stores for client-side</li>
          <li>Node.js in ES6</li>
          <li>Utilized some components via @datatype_void's MEA2N constructor while learning Angular 2</li>
          <li>MongoDB via mlab.com for off-site MongoDB storage</li>
          <li>API for data access and passport/express-session for login authentication / sessions</li>
          <li><a target="_blank" href="https://github.com/miketruax/BuddyTrakr-Angular2"><img
            src="assets/img/icons/GitHub-Mark-32px.png" class='icon social-icon' alt="Github Icon">See the code</a></li>
        </ul>
        <hr>
      </div>


      <div class="col-12 col-md-4 col-xl-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/miketruax.png"/>
        <h3 class="col-12 text-center ">Personal <br>Site</h3>
        <a [routerLink]="['/']" class="port-link  col-12 text-center">Back Home</a>
        <hr>
        <h4 class="text-center col-12">About</h4>
        <p class="col-12 portfolio-about">Personal website for contract work and showing off my skills. Hope you're
          enjoying it
          right now!</p>
        <h4 class="text-center col-12">Tech Stack</h4>
        <ul class="col-12 tech-list">
          <li>HTML5 / Bootstrap / SCSS for design</li>
          <li>Angular 2 utilizing ngrx, stores, and reducers (specifically for food blog)</li>
          <li>Node.JS with Express for backend</li>
          <li>Angular CLI for ease of scaffolding</li>
          <li>Integrated API via MySQL for recipe retrieval</li>
          <li>Images and initial layout concept by in-house designer. See branding concept for this site
            <a href="/assets/pdf/brandID.pdf" target="_blank">here</a></li>
          <li><a target="_blank" href="https://github.com/miketruax/miketruax-website-NG2"><img
            src="assets/img/icons/GitHub-Mark-32px.png" class='icon social-icon' alt="Github Icon">See the code</a></li>
        </ul>
        <hr>
      </div>

      <div class="col-12 col-md-4 col-xl-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/periodictable.png"/>
        <h3 class="col-12 text-center">Periodic <br>Table</h3>
        <a [routerLink]="['/portfolio/periodic-table']" class="port-link  col-12 text-center">Check it out</a>
        <hr>
        <h4 class="text-center col-12">About</h4>
        <p class="col-12 portfolio-about">Interactive view of the periodic table. I made this as a way to improve
          upon
          a version I saw
          on reddit. Currently allows for sorting by several factors with more planned for the future.</p>
        <h4 class="text-center col-12">Tech Stack</h4>
        <ul class="col-12 tech-list">
          <li> Initially used Node get/fs to pull information from Wolfram Alpha</li>
          <li> SCSS for animations and styling</li>
          <li> Angular 2/4 for components and pipes</li>
          <li><a target="_blank"
                 href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/periodic-table"><img
            src="assets/img/icons/GitHub-Mark-32px.png" class='icon social-icon' alt="Github Icon">See the code</a></li>
        </ul>
        <hr>
      </div>

      <div class="col-12 col-md-4 col-xl-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/moviesearch.png"/>
        <h3 class="col-12 text-center">Movie <br>Search</h3>
        <a [routerLink]="['/portfolio/movie-search']" class="port-link col-12 text-center">Check it out</a>
        <hr>
        <h4 class="text-center col-12">About</h4>
        <p class="col-12 portfolio-about">Simple Movie Search App allowing utilizing the OMDBApi to pull information.
          Allows to
          search by any string and then see more information for any of the results.</p>
        <h4 class="text-center col-12">Tech Stack</h4>
        <ul class="col-12 tech-list">
          <li> Utilizes the OMDB API for JSONP calling</li>
          <li> Front Page formatting by http://www.teamtreehouse.com</li>
          <li> Styling for "more-info" page completely done by myself</li>
          <li> NG2 http calls with rxjs for asynchronous calling</li>
          <li> Custom pagination component
            <a href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/shared/pagination"
               target="_blank">(here)</a> to get past pull limit for OMDB API
          </li>
          <li><a target="_blank"
                 href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/movie-search"><img
            src="assets/img/icons/GitHub-Mark-32px.png" class='icon social-icon' alt="Github Icon">See the code</a></li>
        </ul>
        <hr>
      </div>


      <div class="col-12 col-md-4 col-xl-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/tictactoe.png"/>
        <h3 class="col-12 text-center">Tic Tac <br>Toe</h3>
        <a [routerLink]="['/portfolio/tic-tac-toe']" class="port-link  col-12 text-center">Check it out</a>
        <hr>
        <h4 class="text-center col-12">About</h4>
        <p class="col-12 portfolio-about">Tic-Tac-Toe app that originally was part of a Javascript course. I Switched
          the code over to
          Angular2/4 and reset the styling to allow for simpler code. Currently allows for both one and two players.</p>
        <h4 class="text-center col-12">Tech Stack</h4>
        <ul class="col-12 tech-list">
          <li>Styling template initially provided by teamtreehouse.com but with HEAVY adjustments</li>
          <li>Utilizes TS and Angular 2 for interactivity</li>
          <li>Simple AI utilizing min-max calculations for best computer move</li>
          <li>SCSS and Raw CSS for styling</li>
          <li>Utilizes jQuery for ease of DOM manipulation (in addition to NG2)</li>
          <li><a target="_blank"
                 href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/tic-tac-toe"><img
            src="assets/img/icons/GitHub-Mark-32px.png" class='icon social-icon' alt="Github Icon">See the code</a></li>
        </ul>
        <hr>
      </div>

      <div class="col-12 col-md-4 col-xl-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/whowasit.png"/>
        <h3 class="col-12 text-center">Who Was <br>It?</h3>
        <a [routerLink]="['/portfolio/who-was-it']" class="port-link  col-12 text-center">Check it out</a>
        <hr>
        <h4 class="text-center col-12">About</h4>
        <p class="col-12 portfolio-about">This was my first attempt at an Angular2/4 app. Super simple app that
          allows
          you to search for two or more movies to find actors who appeared in all of the movies.</p>
        <h4 class="text-center col-12">Tech Stack</h4>
        <ul class="col-12 tech-list">
          <li> Utilizes the OMDB API for JSONP calling</li>
          <li> Observables/ redux to compile actor information</li>
          <li> Styling via minor SCSS and Bootstrap</li>
          <li> NG2 http calls with rxjs for asynchronous calling</li>
          <li><a target="_blank"
                 href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/who-was-it"><img
            src="assets/img/icons/GitHub-Mark-32px.png" class='icon social-icon' alt="Github Icon">See the code</a></li>
        </ul>
        <hr>
      </div>


    </div>
  </div>
