<div class="top-div col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/philosophy.gif');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Project <br> Philosophy</h4>
  <div class="col-xs-12 container-box  skills-box">
    <p>
      My philosophy is to bring the knowledge I have gained working as both
      a team leader and a team member to any project I approach. I originally gave up a career to pursue programming full-time
      so I give everything I have to each project as this is literally my dream job. I am always eager to show everyone
      I work with my talents and what I am truly capable of. No task is too big when you're following your dream, and I attack
      every challenge that is given to me with that mentality. I look forward to hearing from you and how I can help your brand
      grow in whatever capacity that may entail. I'm not naïve enough to think that passion is all that you're looking for however.
      I also bring experience dealing with large projects with hard deadlines and high expectations. I've dealt with profit and
      loss statements for years and know how important getting done on time and on budget is, whether you're trying to grow your
      business or maintain the track record you have already established
    </p>
  </div>
</div>

<div class="col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/programming.gif');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Programming <br>Knowledge</h4>
  <div class="col-xs-12 container-box  skills-box">

    <h5>Full Proficiencies:</h5>
    <b>JavaScript</b>
    <ul>
      <li>jQuery</li>
      <li>Node.js including RESTful API Design</li>
      <li>AngularJS and Angular 2(Typescript)</li>
      <li>Express</li>
      <li>Passport authentication</li>
    </ul>

    <b>Web Design</b>
    <ul>
      <li>CSS/SCSS (Including Bootstrap)</li>
      <li>HTML5</li>
      <li>Third-party API Integration</li>
      <li>Knowledge of security practices for CSRF/XSS/ SQL Injection</li>
    </ul>

    <b>Database Management</b>
    <ul>
      <li>MongoDB including Mongoose through Node</li>
      <li>SQL (Lite and PostGres) Integration via Node and Ruby on Rails</li>
    </ul>
    <h5>Intermediate Knowledge Of:</h5>
    Java including Hibernate and Spring MVC<br>
    Ruby including Ruby on Rails
  </div>
</div>

<div class="col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/planning.gif');">

  </div>
  <h4 class="section-heading text-center col-xs-12">Certifications<br> And Other Skills</h4>
  <div class="col-xs-12 container-box  skills-box">
    <b>Certifications:</b>
    <ul>
      <li>
        SCRUM ALLIANCE Certified ScrumMaster
        <img class='icon' src="assets/img/icons/ScrumMaster.png" title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc.">
      </li>
      <li>SCRUM ALLIANCE Certified Scrum Product Owner<img
        class='icon' src="assets/img/icons/ProductOwner.png"
        title="Copyright &copy 2016 SCRUM ALLIANCE&reg, Inc."></li>
    </ul>
    <b>Awards:</b>
    <ul>
      <li>Walter Scott Scholar UNOmaha 2000</li>
      <li>Eagle Scout through Boy Scouts of America</li>
    </ul>
    <b>Non Programming Skills</b>
    <ul>
      <li>Full Knowledge of Microsoft Office Programs</li>
      <li>Working knowledge of Agile Methodology</li>
      <li>Excellent verbal and written communication skills</li>
      <li>Highly organized and detail-oriented</li>
      <li>Established track record of financial planning for business units</li>
      <li>Keenly developed problem-solving and multi-step brainstorming skills</li>
      <li>Fair and consistent personnel management with 10 years of management experience overseeing teams of 10 to 100</li>
    </ul>
  </div>
</div>





<div class="col-xs-12 section-container no-top">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/portfolio.gif');">
  </div>
  <h3 class="section-heading text-center col-xs-12">Portfolio</h3>
  <div class="col-xs-12 container-box  skills-box">

<div class="col-xs-12">
  <h4 class="col-xs-12 text-center section-heading  inner-heading">Sample Apps and Websites</h4>
</div>

    <div class="col-xs-12 col-sm-4 col-lg-3 portfolio-container">
      <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/buddytrakr.png" />
      <h3 class="col-xs-12 text-center ">Buddy <br>Trakr</h3>
      <a href="http://buddytrakr.herokuapp.com" class=" port-link col-xs-12 text-center">Check it out</a>
      <hr>
      <h4 class="text-center col-xs-12">Tech Stack</h4>
      <ul class="col-xs-12 tech-list">
        <li>Angluar 2 w/ Angular CLI for ease of scaffolding</li>
        <li>Bootstrap and SCSS for styling</li>
        <li>Rxjs and ngrx for Observables and Stores for client-side</li>
        <li>Node.js in ES6</li>
        <li>Utilized some components via @datatype_void's MEA2N constructor while learning Angular 2</li>
        <li>MongoDB via mlab.com for off-site MongoDB storage</li>
        <li>API for data access and passport/express-session for login authentication / sessions</li>
        <li><a target="_blank" href="https://github.com/miketruax/BuddyTrakr-Angular2"><img
          src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repo</a></li>
      </ul>
      <hr>
    </div>




    <div class="col-xs-12 col-sm-4 col-lg-3 portfolio-container">
      <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/miketruax.png" />
      <h3 class="col-xs-12 text-center">Personal <br>Site</h3>
      <a [routerLink]="['/']" class="port-link  col-xs-12 text-center">Back Home</a>
      <hr>
      <h4 class="text-center col-xs-12">Tech Stack</h4>
      <ul class="col-xs-12 tech-list">
        <li>HTML5 / Bootstrap / SCSS for design</li>
        <li>Angular 2 utilizing ngrx, stores, and reducers (specifically for food blog)</li>
        <li>Node.JS with Express for backend</li>
        <li>Angular CLI for ease of scaffolding</li>
        <li>Integrated API via MySQL for recipe retrieval</li>
        <li>Images and initial layout concept by in-house designer. See branding concept for this site
          <a href="/assets/pdf/brandID.pdf" target="_blank">here</a></li>
        <li><a target="_blank" href="https://github.com/miketruax/miketruax-website-NG2"><img
          src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repo</a></li>
      </ul>
      <hr>
    </div>



    <div class="col-xs-12 col-sm-4 col-lg-3 portfolio-container">
        <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/moviesearch.png" />
      <h3 class="col-xs-12 text-center">Movie <br>Search</h3>
      <a [routerLink]="['/portfolio/movie-search']" class="port-link col-xs-12 text-center">Check it out</a>
      <hr>
      <h4 class="text-center col-xs-12">Tech Stack</h4>
      <ul class="col-xs-12 tech-list">
        <li> Utilizes the OMDB API for JSONP calling</li>
        <li> Front Page formatting by http://www.teamtreehouse.com</li>
        <li> Styling for "more-info" page completely done by myself</li>
        <li> NG2 http calls with rxjs for asynchronous calling</li>
        <li> Custom pagination component to get past pull limit for OMDB API</li>
        <li><a target="_blank" href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/movie-search"><img
          src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repo</a></li>
      </ul>
      <hr>
    </div>


    <div class="col-xs-12 col-sm-4 col-lg-3 portfolio-container">
      <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/tictactoe.png" />
      <h3 class="col-xs-12 text-center">Tic Tac <br>Toe</h3>
      <a [routerLink]="['/portfolio/tic-tac-toe']" class="port-link  col-xs-12 text-center">Check it out</a>
      <hr>
      <h4 class="text-center col-xs-12">Tech Stack</h4>
      <ul class="col-xs-12 tech-list">
        <li>Styling template initially provided by teamtreehouse.com but with HEAVY adjustments</li>
        <li>Utilizes TS and Angular 2 for interactivity</li>
        <li>Simple AI utilizing min-max calculations for best computer move</li>
        <li>SCSS and Raw CSS for styling</li>
        <li>Utilizes jQuery for ease of DOM manipulation (in addition to NG2)</li>
        <li><a target="_blank" href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/tic-tac-toe"><img
          src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repo</a></li>
      </ul>
      <hr>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-3 portfolio-container">
      <img class="img-responsive portfolio-icon" src="../../assets/img/portfolio/icons/whowasit.png" />
      <h3 class="col-xs-12 text-center">Who Was <br>It?</h3>
      <a [routerLink]="['/portfolio/who-was-it']" class="port-link  col-xs-12 text-center">Check it out</a>
      <hr>
      <h4 class="text-center col-xs-12">Tech Stack</h4>
      <ul class="col-xs-12 tech-list">
        <li> Utilizes the OMDB API for JSONP calling</li>
        <li> Observables/ redux to compile actor information</li>
        <li> Styling via minor SCSS and Bootstrap</li>
        <li> NG2 http calls with rxjs for asynchronous calling</li>
        <li><a target="_blank" href="https://github.com/miketruax/miketruax-website-NG2/tree/master/src/app/portfolio/who-was-it"><img
          src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repo</a></li>
      </ul>
      <hr>
    </div>


</div>
</div>
