@import "../shared/styles/fonts";
@import "../shared/styles/colors";

.portfolio-container{
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px !important;
  p{
    font-size: 14px !important;
  }
  h4{
    margin: 5px 0;
  }
  a{
    text-decoration: underline;
    color: $primary;
  }
}

.portfolio-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media(max-width: 767px){
  .portfolio-container:nth-child(even){
    background-color: $font-light !important;
  }
  .portfolio-icon{
    max-width: 33% !important;
  }
}
.tech-list{
  flex: 1 1 auto;
  margin-bottom: 0 !important;
}

.portfolio-exit{
  clear: both;
  background-color: white !important;
  margin-top: 20px !important;
  display: flex;
}

.portfolio-title{
  height: 63px;
}

.portfolio-icon{
  max-width: 50% !important;
  margin: 10px auto;
}