<mat-toolbar color="primary" class="top-toolbar">
  <div class="toolbar-logo"><img class="brandImg" src="/assets/img/logos/bulletPawActive.png"></div>
  <button class="menu-toggle" mat-flat-button color="accent">
  <i class="material-icons pointer" (click)="sidenav.toggle()" color="primary">menu</i>
  </button>  
</mat-toolbar>
<mat-sidenav-container class="menu-container main-content">
  <mat-sidenav class="sidenav-menu" #sidenav mode="over" [(opened)]="opened" [fixedInViewport]="true">
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link  text-center" [routerLink]="['/']">Home</a>
      <a (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link  text-center" [routerLink]="['/about']">About</a>
      <a  (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link text-center" [routerLink]="['/portfolio']">Portfolio</a>
      <a  (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link text-center" [routerLink]="['/food']">Food Blog</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="banner-logo" style="background-image: url('/assets/img/backgrounds/home-logo.png')">
      <span class="v-align-helper"></span>
      <img class="" src="/assets/img/logos/fullLogo.png">
    </div>
    <div class="content-container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer class="col-12 text-center">
  <hr>

  <a class="col-12" href="mailto:mike@miketruax.com">
    <h5><img class="social-icon" src="/assets/img/buttons/menu-button.png">Mike Truax - Web Developer
    </h5>
  </a>
  <a class="social-icon" href="https://github.com/miketruax" target='_blank'>
    <img src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon"></a>

  <a class="social-icon" href="https://www.linkedin.com/pub/michael-truax/11a/690/625" target='_blank'>
    <img src="assets/img/icons/linked-in.png" class='icon' alt="Github Icon"></a>

  <a class="social-icon" href="https://twitter.com/thecodingursine" target='_blank'>
    <img src="assets/img/icons/twitter.png" class='icon' alt="Github Icon"></a>

</footer>
