<mat-toolbar color="primary" class="top-toolbar">
  <img class="toolbar-logo" src="/assets/img/logos/bulletPawActive.png">
  <button class="menu-toggle" mat-flat-button color="accent">
  <i class="material-icons pointer" (click)="sidenav.toggle()" color="primary">menu</i>
  </button>  
</mat-toolbar>
<mat-sidenav-container class="menu-container main-content">
  <mat-sidenav class="sidenav-menu" #sidenav mode="over" [(opened)]="opened" [fixedInViewport]="true">
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link  text-center" [routerLink]="['/']">Home</a>
      <a (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link  text-center" [routerLink]="['/about']">About</a>
      <a  (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}"
        class="nav-link text-center" [routerLink]="['/portfolio']">Portfolio</a>
      <a  (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link text-center" [routerLink]="['/food']">Food Blog</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
      <!-- <particles [params]="myParams" [style]="myStyle" [width]="100" [height]="100"></particles> -->
    <div class="banner-logo text-center">
      <span class="v-align-helper"></span>
      <img class="" src="/assets/img/logos/fullLogo.png">
    </div>
    <div class="content-container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer-component></footer-component>
