<div class="panel panel-default">
    <div class="panel-heading home-panel-heading home1"><h3 class="panel-title text-center">Contact Us</h3></div>
    <div class="panel-body">
        <p class="col-xs-12">If you are in need of any information from me that you have not found on this site or
            simply want to talk food and exchange recipes,
            you can reach me through the below methods.
        </p>
        <div class="col-xs-12">
            <dl>
                <dt>Website Design Quotes</dt>
                <dd> Please reach out to me through <a href="mailto:design-quote@miketruax.com">design-quote@miketruax.com</a>.
                    This e-mail will go directly to all parties involved in our design and as such
                    will ensure a prompt response. Be sure to include all pertinent information as well as any ideas you
                    have or any examples of items it needs to match. The more information you include,
                    the more accurate the quote and the faster we can begin a working partnership.
                </dd>
            </dl>
            <dl>
                <dt>Consultant Opportunities</dt>
                <dd>For any consultant needs beyond website design, please reach out to me through either:
                    <ul class="list-group">
                        <li class="list-group-item"><a href="https://www.linkedin.com/pub/michael-truax/11a/690/625"
                                                       target='_blank'><img
                                src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class='icon'>Michael
                            Truax </a></li>
                        <li class="list-group-item"> Or <a
                                href="mailto:mike@miketruax.com?subject=Consultant%20Opportunity">mike@miketruax.com</a>
                            with a subject line of "Consultant Opportunity" to ensure proper filtering.
                        </li>
                    </ul>
            </dl>
            <dl>
                <dt>All other needs
                <dt>
                <dd> For any other needs, feel free to contact me directly at <a
                        href="mailto:mike@miketruax.com?subject=Consultant%20Opportunity">mike@miketruax.com</a>. Please
                    include an accurate subject line to ensure prompt response.
                </dd>
                </dt>
            </dl>
        </div>
    </div>
</div>
