<div class="panel panel-default">
    <div class="panel-heading home-panel-heading home-logo"><h3 class="panel-title text-center"><img
            class="main-logo rounded-edges"
            src="../www/img/logos/fullLogo.png"></h3></div>
    <div class="panel-body">
        <p class="col-xs-12 text-center">
            Welcome to miketruax.com! Whether you need a simple site upgrade, a new color scheme, or a complete
            full-stack restructuring of your site, you have come to the right place. This site serves as both a
            list of qualifications and an insight as to what I can offer you to help grow your online presence.
            Found below are some key points as to what makes us different from other design and coding options
            available to you. If you need any specific questions answered, or any questions you can't find answers
            here to, reach through the contact information below. Thanks for visiting!
        </p>
    </div>
</div>
