.section-heading {
  border-bottom: 1px solid $warning;
  background-color: $secondary;
  color: $font-light;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inner-heading{
  color: $secondary;
  background-color: rgba($warning, .4);
  border: 1px solid $secondary;
}

.sub-heading{
  margin-top: 10px;
  color: $secondary;
  text-align: center;
  text-shadow: 1px 1px $primary;
}

