.portfolio-container{
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px !important;
  p{
    font-size: 14px !important;
  }
  h4{
    margin: 5px 0;
  }
  a{
    text-decoration: underline;
    color: $moonstone-blue;
  }
}

.portfolio-box{
  display: flex;
  flex-flow: row wrap;
}

@media(max-width: 767px){
  .portfolio-container:nth-child(even){
    background-color: $alabaster !important;
  }
  .portfolio-icon{
    max-width: 33% !important;
  }
}
.tech-list{
  flex: 1 1 auto;
  margin-bottom: 0 !important;
}
//
//@media(min-width: 768px){
//  .tech-list{
//    //min-height: 313px;
//  }
//  .portfolio-about{
//    //min-height: 128px !important;
//  }
//}
//@media(min-width: 900px){
//  .tech-list{
//    //min-height: 265px;
//  }
//  .portfolio-about{
//    //min-height: 108px !important;
//  }
//}
