.col-lg-4 .about-box{
  @media(min-width: 1200px) {
    min-height: 746px !important;
  }
  @media(min-width: 1400px) {
    min-height: 632px !important;
  }
  @media(min-width: 1600px) {
    min-height: 559px !important;
  }
  @media(min-width: 1600px) {
    min-height: 487px !important;
  }
}

.home-box{
  @media(min-width: 1200px) {
    min-height: 766px !important;
  }
}

.skills-box{
  @media(min-width: 1200px) {
    min-height: 456px !important;
  }
}
