about-component, home-component, food-component, portfolio-component{
  display: flex !important;
  flex-flow: row wrap !important;
}

.top-div{
  margin-top: 146px !important;
}
.body {
  font-family: $content-font;
  margin: 0 !important;
  padding: 0 !important;
  background-color: $alabaster;
}

.container-box{
  flex: 1 1 auto;
  padding: 15px !important;
  background-color: white !important;
  backface-visibility: hidden;
  *{
    transition: opacity .3s ease-in;
  }

  > .col-xs-12{
    padding: 0 !important;
  }
  overflow-x: hidden;
  p{
    font-size: initial !important;
    font-family: $paragraph-font;

  }
  @media(min-width: 1200px) {
    border: 1px solid $raisin-black;
  }
}
