<div class="panel panel-default">
    <div class="panel-heading about-panel-heading about" role="tab" id="headingTwo" data-toggle="" data-target="#collapseAboutTwo"
         aria-expanded="false" aria-controls="collapseAboutTwo">
        <h3 class="panel-title text-center">
            Beginning
        </h3>
    </div>
    <div id="collapseAboutTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            Each section here corresponds to an important event in my life. I hope you will enjoy this overview of what
            I did to
            to arrive where I am today. Of Course this is not a complete account of my life but, hopefully, it will give
            a basic view of the path
            I have taken to where I am now. With that out of the way, let's start at the beginning!
            I grew up in Bellevue, Nebraska. Since I was a kid, I have been fascinated with science.
            Generally speaking, anything that fell under the STEM (Science, Technology, Engineering,
            Mathematics) umbrella was a passion of mine. Like most kids interested in engineering,
            I built many structures using LEGO. This passion drove me to take part in several
            extra-curricular activities including Science Olympiad. During my eighth-grade year,
            our middle school Science Olympiad team, of which I was a member, won the Nebraska Science
            Olympiad, earning the right to compete in the Nationals in Atlanta, Georgia! Our team was
            especially excited because Atlanta was the site for the 1996 Summer Olympics so we would be
            able to see all the build-up ahead of the games. Although we didn’t win the national tournament,
            the competition fueled my passion for STEM subjects.
            I considered a career in architecture, and/or mechanical engineering, but in my junior year of high
            school, I fell in love with computer programming. One particularly dedicated teacher offered a before-school
            programming class. This was back in ’99 so the curriculum started us with C then C++. Although the class was
            only a semester long, I loved it. I started doing coding at home in my free time and decided I wanted to go
            to school for a degree in computer science.
        </div>
    </div>
</div>
