<div id="main-nav" class="hidden-nav">
    <ul class="nav navbar-nav nav-pills nav-justified nav-stacked">
        <li role="presentation" ng-class="{active: $state.includes('home')}" class="pointer"><a ui-sref="home"
                                                                                                ng-click="mainState.active = 0">Home</a>
        </li>
        <li role="presentation" ng-class="{active: $state.includes('skills')}" class="pointer"><a ui-sref="skills"
                                                                                                  ng-click="mainState.active= 1">Skills</a>
        </li>
        <li role="presentation" ng-class="{active: $state.includes('about')}" class="pointer"><a ui-sref="about"
                                                                                                 ng-click="mainState.active= 2">About</a>

        </li>
        <li role="presentation" ng-class="{active: $state.includes('food')}" class="pointer"><a ui-sref="food"
                                                                                                ng-click="mainState.active= 3">Food</a>
        </li>
    </ul>
</div>


<div class="arrow-nav arrow-nav-left pointer" role="navigation" ng-click="nav.transitionLeft(mainState)">
    <div class="left-arrow">
        <span class="top-bar icon-bar"></span>
        <span class="mid-bar nav-btn">{{mainState.active !=0 ? mainState.states[mainState.active-1] : mainState.states[mainState.states.length-1] | capitalize}}</span>
        <span class="bottom-bar icon-bar"></span>
    </div>
</div>
<div class="arrow-nav arrow-nav-right pointer" role="navigation" ng-click="nav.transitionRight(mainState)">
    <div class="right-arrow">
        <span class="top-bar icon-bar"></span>
        <span class="mid-bar nav-btn">{{mainState.active != (mainState.states.length-1) ? mainState.states[mainState.active+1] : mainState.states[0] | capitalize}}</span>
        <span class="bottom-bar icon-bar"></span>
    </div>
</div>