/*HELPER CLASSES---------------*/
.rounded-edges {
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.icon {
  max-height: 25px !important;
}
.v-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.no-top{
  margin-top: 0px !important;
}

.social-icon{
  height: 32px !important;
  width: auto !important;
  margin: 8px !important;
}

.sub-heading{
  margin-top: 10px !important;
  color: $yankees-blue;
  text-align: center;
  text-shadow: 1px 1px $moonstone-blue;
}

.list-item{
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
