// ------PALLETE-----
// Primary Colors
$moonstone-blue: rgb(123, 191, 191);
//$yankees-blue: rgb(21, 54, 66);
$yankees-blue: rgb(15,60,89);
$sunny: rgb(255, 241, 125);

// Highlight

// -----TYPOGRAPHY-----
$raisin-black: rgb(37, 38, 39);
$alabaster: rgb(243, 239, 233);
