extends ../../../templates/layout
block header
    meta(name='viewport', content='initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no')
    meta(name='sitelock-site-verification', content='6747')
    link(href='./www/img/mobile-icons/apple-touch-icon.png', rel='apple-touch-icon')
    link(href='./www/img/mobile-icons/icon-hires.png', rel='icon', sizes='192x192')
    link(href='./www/img/mobile-icons/icon-normal.png', rel='icon', sizes='128x128')
    link(type='text/css', rel='stylesheet', href='./www/stylesheets/stylesheet.css')
    script(src='./www/javascript/app.js')

block content
    #navigation
    nav#navbar-top.navbar.navbar-default.navbar-fixed-top(toggle-menu='', role='navigation')
        button#nav-menu.navbar-toggle.nav-icon-wrapper(type='button')
            span.icon-bar
            span.icon-bar
            span.icon-bar
    section(ui-view='', ng-animate='')


    // Preloader div used to load images with preLoadService
    #preloader(style='display:none;')
