/* You can add global styles to this file, and also import other style files */
@import './app/styles/app.style.scss';


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import './app/shared/styles/colors';



//MATERIAL DESIGN
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blue-green: #6aa397;
$tan: #ddd8c4;
$orange: #d36135;
$dark-blue: #355778;
$off-black: #1e1e24;


$buddy-primary: (
    50 : #edf4f3,
    100 : #d2e3e0,
    200 : #b5d1cb,
    300 : #97bfb6,
    400 : #80b1a7,
    500 : #6aa397,
    600 : #629b8f,
    700 : #579184,
    800 : #4d887a,
    900 : #3c7769,
    A100 : #cafff2,
    A200 : #97ffe5,
    A400 : #64ffd8,
    A700 : #4bffd2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$buddy-app-primary: mat-palette($buddy-primary);

$buddy-secondary: (
    50 : #e7ebef,
    100 : #c2cdd7,
    200 : #9aabbc,
    300 : #7289a1,
    400 : #53708c,
    500 : #355778,
    600 : #304f70,
    700 : #284665,
    800 : #223c5b,
    900 : #162c48,
    A100 : #85b6ff,
    A200 : #5297ff,
    A400 : #1f79ff,
    A700 : #066aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$buddy-app-accent:  mat-palette($buddy-secondary);

// The warn palette is optional (defaults to red).

$buddy-warning: (
    50 : #faece7,
    100 : #f2d0c2,
    200 : #e9b09a,
    300 : #e09072,
    400 : #da7953,
    500 : #d36135,
    600 : #ce5930,
    700 : #c84f28,
    800 : #c24522,
    900 : #b73316,
    A100 : #ffedea,
    A200 : #ffc2b7,
    A400 : #ff9784,
    A700 : #ff816a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$buddy-app-warn:    mat-palette($buddy-warning);

// Create the theme object (a Sass map containing all of the palettes).
$buddy-app-theme: mat-light-theme($buddy-app-primary, $buddy-app-accent, $buddy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($buddy-app-theme);


    //Layout
    .text-center{
        text-align: center;
    }


//Layout Helpers
.float-right{
    float: right;
    clear: both;
}


//CONTAINERS

.page-container{
    width: 90%;
    margin: 65px 5% 20px;
    position: relative;
    top: 0px;
}  

.section-container{
    margin-top: 10px;
}

.pointer{
    cursor: pointer;
}

.content-container{
    height: auto;
    overflow: visible;
    width: 100%;
}


.paw-icon{
    max-height: 50px; width: auto;
    padding: 0 !important;
    margin-left: -5px !important;
  }
  
 
.main-content{
    background-color: rgba(255,255,255,.6);
  }

  .mat-sidenav-container{
    .sidenav-menu{
        margin-top: 50px;
    }
      min-height: 100vh;
  }

body { margin: 0; font-family: 'Roboto', sans-serif; }
