/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import './app/shared/styles/colors';
@import './app/shared/styles/fonts';



//MATERIAL DESIGN
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blue-green: #6aa397;
$tan: #ddd8c4;
$orange: #d36135;
$dark-blue: #355778;
$off-black: #1e1e24;


$md-primary: (
    50 : #eff7f7,
    100 : #d7ecec,
    200 : #bddfdf,
    300 : #a3d2d2,
    400 : #8fc9c9,
    500 : #7bbfbf,
    600 : #73b9b9,
    700 : #68b1b1,
    800 : #5ea9a9,
    900 : #4b9b9b,
    A100 : #f8ffff,
    A200 : #c5ffff,
    A400 : #92ffff,
    A700 : #79ffff,
    contrast: (
        50 : #252627,
        100 : #252627,
        200 : #252627,
        300 : #252627,
        400 : #252627,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #252627,
        A200 : #252627,
        A400 : #252627,
        A700 : #252627,
    )
);

$site-primary: mat-palette($md-primary);

$md-secondary: (
    50 : #e2e8eb,
    100 : #b7c5cd,
    200 : #879eac,
    300 : #57778b,
    400 : #335972,
    500 : #0f3c59,
    600 : #0d3651,
    700 : #0b2e48,
    800 : #08273e,
    900 : #041a2e,
    A100 : #67acff,
    A200 : #3490ff,
    A400 : #0174ff,
    A700 : #0068e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #f3efe9,
        400 : #f3efe9,
        500 : #f3efe9,
        600 : #f3efe9,
        700 : #f3efe9,
        800 : #f3efe9,
        900 : #f3efe9,
        A100 : #000000,
        A200 : #000000,
        A400 : #f3efe9,
        A700 : #f3efe9,
    )
);

$site-secondary:  mat-palette($md-secondary);

// The warn palette is optional (defaults to red).

$md-warning: (
    50 : #fffdef,
    100 : #fffbd8,
    200 : #fff8be,
    300 : #fff5a4,
    400 : #fff391,
    500 : #fff17d,
    600 : #ffef75,
    700 : #ffed6a,
    800 : #ffeb60,
    900 : #ffe74d,
    A100 : #f3efe9,
    A200 : #f3efe9,
    A400 : #fffdf3,
    A700 : #fffada,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #252627,
        A200 : #252627,
        A400 : #252627,
        A700 : #252627,
    )
);


$site-warn:    mat-palette($md-warning);

// Create the theme object (a Sass map containing all of the palettes).
$site-theme: mat-light-theme($site-primary, $site-secondary, $site-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($site-theme);


//HELPERS
.text-center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.uppercase{text-transform: uppercase;}

.no-border{
    border: none !important;
}

//Layout Helpers
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.clear-both{
    clear: both;
}



// FONTS

    // Faces

    // Colors
    .font-primary {   color: $primary !important;     }
    .font-secondary { color: $secondary !important;  }
    .font-warning {   color: $warning !important;    }
    .font-dark {      color: $font-dark !important;  }
    .font-light {     color: $font-light !important; }

//Backgrounds

.background-primary {   background-color: $primary    !important; }
.background-secondary { background-color: $secondary !important;  }
.background-warning {   background-color: $warning !important;    }
.background-opaque-white { background-color: rgba(255,255,255,.6) !important;}
.background-white {background-color: white !important;}

//CONTAINERS

.section-container{
    margin: 5px 0px;
    padding: 10px 0;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
}

.content-container{
    height: auto;
    overflow: visible;
    width: 100%;
}

.page-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: 0px;
    justify-content: center;
}  
footer-component{
    flex-basis: 100%;
}


@media(min-width: 1200px){
    .section-container{
        flex-basis: calc((100% / 3) - 20px);
        margin: 0px 5px;
    }
}

.no-shrink{
    flex-basis: calc(100% - 20px) !important
}
.sidenav-menu{
        margin-top: 40px;
}

p {
    font-size: 14px;
    font-family: $paragraph-font
}
body { 
    margin: 0; 
    font-family: $body-fonts;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}



// $content-font: Arial, "Helvetica Neue", Helvetica, sans-serif;




.social-icon{
    height: 32px !important;
    width: auto !important;
    margin: 0 8px !important;
  }
  
  .icon {
    max-height: 25px !important;
  }

  .section-heading {
    font-family: $title-font;
    border-bottom: 1px solid $warning;
    letter-spacing: 1px;
    margin: 0px;
  }
  
  .inner-heading{
      font-family: $panel-head-fonts;
    background-color: rgba($warning, .4);
    border: 1px solid $secondary;
  }
  
  .sub-heading{
    font-family: $tagline-font;
    margin-top: 10px;
    text-align: center;
    text-shadow: 1px 1px $primary;
  }
  .section-inner-box{
      width: calc(100% - 20px);
      padding: 0 10px;
  }