.food-swiper-container {
  background-color: transparent !important;
  .food-button-next, .food-button-prev {
    position: absolute;
    z-index: 2;
    top: 7px;
    max-width: 33%;
    img {
      height: auto;
      max-width: 15%;
    }
  }
  .food-button-next {
    right: 5px;
  }
  .food-button-prev {
    left: 5px;
  }
}


@media(max-width: 550px) {
  .food-button-prev, .food-button-next {
    top: 50px !important;
    max-width: 25% !important;
    img {
      max-width: 60% !important;
    }
    b, span {
      display: none;
    }
  }
  .food-button-next::before {
    content: "Next ->"
  }
  .food-button-prev::before {
    content: "<- Previous"
  }
}
