.design{
    background-image: url('/assets/img/backgrounds/design.gif');
}

.consultation{
    background-image: url('/assets/img/backgrounds/consultation.gif');
}

.portfolio{
    background-image: url('/assets/img/backgrounds/portfolio.gif');
}

.timedate{
    background-image: url('/assets/img/backgrounds/timedate.gif');
}
