<h2 class="section-heading text-center col-xs-12 top-div">What We Offer</h2>
  <div class="col-xs-12 container-box">
      Welcome to miketruax.com! Whether you need a simple site upgrade, a new color scheme, or a complete
      full-stack restructuring of your site, you have come to the right place. This site serves as both a
      list of qualifications and an insight as to what I can offer you to help grow your online presence.
      Found below are some key points as to what makes us different from other design and coding options
      available to you. If you need any specific questions answered, or any questions you can't find answers
      here to, reach through the contact information below. Thanks for visiting!
  </div>


  <h2 class="section-heading text-center col-xs-12">Contact Us</h2>
  <div class="col-xs-12  container-box">
    If you are in need of any information from me that you have not found on this site or
      simply want to talk food and exchange recipes,
      you can reach me through the below methods.
    <div class="col-xs-12">
      <dl class="col-xs-12">
        <dt>Website Design Quotes</dt>
        <dd> Please reach out to me through <a href="mailto:design-quote@miketruax.com">design-quote@miketruax.com</a>.
          This e-mail will go directly to all parties involved in our design and as such
          will ensure a prompt response. Be sure to include all pertinent information as well as any ideas you
          have or any examples of items it needs to match. The more information you include,
          the more accurate the quote and the faster we can begin a working partnership.
        </dd>
      </dl>
      <dl>
        <dt>Consultant Opportunities</dt>
        <dd>For any consultant needs beyond website design, please reach out to me through either:
          <ul class="list-group">
            <li class="list-group-item"><a href="https://www.linkedin.com/pub/michael-truax/11a/690/625"
                                           target='_blank'><img
              src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class='icon'>Michael
              Truax </a></li>
            <li class="list-group-item"> Or <a
              href="mailto:mike@miketruax.com?subject=Consultant%20Opportunity">mike@miketruax.com</a>
              with a subject line of "Consultant Opportunity" to ensure proper filtering.
            </li>
          </ul>
      </dl>
      <dl>
        <dt>All other needs</dt>
        <dd> For any other needs, feel free to contact me directly at <a
          href="mailto:mike@miketruax.com?subject=Consultant%20Opportunity">mike@miketruax.com</a>. Please
          include an accurate subject line to ensure prompt response.
        </dd>
      </dl>
    </div>
  </div>

  <h2 class="section-heading text-center col-xs-12">Updates</h2>
  <div class="col-xs-12  container-box">

    <div class="col-xs-12">
      <dt>Current Items in Progress:</dt>
      <ul class='list-group'>
        <li class="list-group-item list-group-item-success">COMPLETED 10/25: Site formatting for use with
          node.js and express routing.
          <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
        </li>
        <li class="list-group-item list-group-item-success">COMPLETED 10/25: DB integration with SQL.
          <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
        </li>
        <li class="list-group-item list-group-item-success">COMPLETED 12/15: Improved graphics on site
          for better presentation.
          <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
        </li>
        <li class="list-group-item list-group-item-warning">IN PROGRESS, TARGET 1/5: Linking to sites I am
          currently building for two businesses.
        </li>
        <li class="list-group-item list-group-item-danger"> Full integration with tracking app currently in
          design phase (more info to come...).
        </li>
        <li class="list-group-item list-group-item-danger"> More interactivity with user to improve the overall
          experience.
        </li>

        <li class="list-group-item list-group-item-danger"> Ability to vote on and submit new recipes.</li>
        <li class="list-group-item list-group-item-danger"> Improved connectivity for recipes in database with
          current JAVA menu planning applet in development.
        </li>
      </ul>
    </div>
  </div>


  <h2 class="text-center col-xs-12 section-heading">Our Approach</h2>

  <div class="col-xs-12  container-box">
    <ul class="list-group col-xs-12">
      <li class="list-group-item">Complete
        <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank" data-toggle="tooltip"
           data-placement="top" title="Read more on Wikipedia">
          Agile Methodology</a> approach to development
      </li>
      <li class="list-group-item">
        Iterative development to ensure constant delivery. This means you can see it as it's being built and can
        test sections as they're completed instead of waiting for 100% delivery
      </li>
      <li class="list-group-item">
        Open and honest discussions with clients. I bring 12 years of leadership experience and know how to
        treat people with respect and professionalism.
        If it's not something we can do, we won't waste your time in claiming we can. If it's not something that
        can be done at ALL, we'll be up front and find a solution
        that works for you.
      </li>
      <li class="list-group-item">
        Working partnership with in-house design to ensure high quality graphics made custom to your needs. Our
        designer brings both digital design and fine art backgrounds
        including degrees in Graphic Design as well as a <abbr title="Bachelor of Fine Arts">BFA</abbr> in
        traditional studio art.
      </li>
      <li class="list-group-item">
        Wide variety of web skills and knowledge from design to database implementation. Visit skills on the top
        menu for a complete breakdown.
      </li>
      <li class="list-group-item">
        We avoid 'tech jargon'. If we start using terms you don't know, ask! Our goal is that you only agree on
        a suggestion because YOU feel it's the best
        option, not because we talked you into it.
      </li>
    </ul>
      View our contact section below to get in touch with us.
  </div>

