<div class="page-container">
  <div class="section-container">
    <section-background
      imageFade
      class="section-background"
      [background]="'design'"
    ></section-background>
    <h4
      class="section-heading text-center uppercase font-light background-secondary"
    >
      Website Design
    </h4>
    <div class="section-inner-box" slideBox>
      <p>
        From a simple and clean promotional site to a complete web experience,
        you’ve come to the right place. Whether it’s enhanced performance,
        improved brand recognition, or a fun new user interface, I can help with
        that.

        <mat-list dense>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let cat of designCategories; index as i">
            <!-- <h3 mat-subheader></h3> -->
            <mat-list-item>
              <mat-icon matListIcon>{{ cat.icon }}</mat-icon
              >{{ cat.title }}
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </p>
      <p>
        The technical side is important, but many people have trouble with
        buzzwords or tech-speak. With me, you won’t have to worry about that. I
        will ensure you know and—more importantly—understand exactly what you’re
        getting. Interested in a design quote? You can reach me at
        <a href="mailto:mike@miketruax.com">mike@miketruax.com</a>. Still not
        convinced? Feel free to check out some of my portfolio
        <a [routerLink]="['/portfolio']">here</a>.
      </p>
    </div>
  </div>

  <div class="section-container">
    <section-background
      imageFade
      class="section-background"
      [background]="'consultation'"
    ></section-background>
    <h4
      class="section-heading text-center uppercase font-light background-secondary"
    >
      Tech Consultation
    </h4>

    <div class="section-inner-box home-box" slideBox>
      <p>
        Sometimes you need to ask questions tech questions, but you don’t have a
        dedicated IT person and you don't know where to start.
      </p>

      <p>
        For theses situations, I offer hourly or contracted tech consultation
        services, covering a wide variety of topics including:
        <mat-list dense>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let cat of techConsultation; index as i">
            <mat-list-item
              ><mat-icon matListIcon>{{ cat.icon }}</mat-icon
              >{{ cat.title }}</mat-list-item
            >
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </p>
      <p>
        Communication is at the forefront of any partnership, and I pride myself
        in delivery accurate and timely updates. If something isn't right for
        you, I'll tell you why and, more importantly, offer you alternative
        solutions.
      </p>

      <p>
        For any consultant needs or inquiries, feel free to reach me via email
        or LinkedIn.
      </p>
    </div>
  </div>

  <div class="section-container">
    <section-background
      imageFade
      class="section-background"
      [background]="'portfolio'"
    ></section-background>
    <h4
      class="section-heading text-center uppercase font-light background-secondary"
    >
      Contract Work
    </h4>

    <div class="section-inner-box home-box" slideBox>
      <p>
        My true passion lies in full-stack development. Most of my recent
        independent work is done using a MEAN stack, but I also have experience
        React and a working knowledge of several other languages and frameworks.
      </p>
      <p>
        With over 15 years experience working in a team environment, I can
        easily adapt to any structure your workplace utilizes. And as a
        Certified ScrumMaster® and a Certified Scrum Product Owner®, I can adapt
        to a pre-existing Agile work environment. I can also fill either role,
        bringing along over 10 years of leadership experience.
      </p>
      <p>
        <mat-nav-list dense>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://github.com/miketruax" target="_blank">
            <img
              matListIcon
              class="mat-icon"
              src="assets/img/icons/GitHub-Mark-32px.png"
              alt="Github Icon"
            />

            Github Profile</a
          >
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="['/portfolio']"
            ><mat-icon matListIcon>web</mat-icon>Portfolio</a
          >
          <mat-divider></mat-divider>
        </mat-nav-list>
      </p>
      <p>
        For any contract work or related inquiries, please contact me through
        either LinkedIn or email.
      </p>
    </div>
  </div>

  <div class="section-container">
    <section-background
      imageFade
      class="section-background"
      [background]="'timedate'"
    ></section-background>
    <h3
      class="section-heading text-center uppercase font-light background-secondary"
    >
      Updates
    </h3>

    <div class="section-inner-box update-container" slideBox>
        <div  class="update-list">
      <h4 class="sub-heading font-secondary">Recently Completed Items</h4>
      <mat-nav-list dense class="update-list">
        <mat-divider></mat-divider>
        <a mat-list-item href="http://www.miketruax.com">
          <mat-icon matListIcon>web</mat-icon>05/22/19 - Upgraded personal
          site to Angular Material and refactored code for speed and usability.
        </a>
        
        <mat-divider></mat-divider>
        <a mat-list-item href="https://code.midlandu.edu/" target="_blank">
          <mat-icon matListIcon>school</mat-icon>03/03/19 - Built curriculum
          for Midland University Code Academy</a
        >
        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="['/portfolio/tile-game']">
          <mat-icon matListIcon>grid_on</mat-icon>01/20/19 - Built reusable
          image tile-sliding game using HTML 5 canvas.
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          href="https://buddytrakr.herokuapp.com"
          target="_blank"
        >
          <mat-icon matListIcon>web</mat-icon>01/20/19 - Updated BuddyTrakr
          to Angular Material and refactored backend for better usability.
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          href="https://miketruax.github.io/periodic-table/"
          target="_blank"
        >
          <mat-icon matListIcon>device_hub</mat-icon>11/20/18 - Refactored
          Periodic Table and Launched to GitHub Pages.
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </div>
    <div  class="update-list">
      <h4 class="sub-heading font-secondary">Projects In Progress</h4>
      <mat-list dense class="update-list">
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>crop_portrait</mat-icon>Raspberry Pi Magic Mirror
          (more info to come)
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>flash_on</mat-icon> 06/16/19 - Building
          weather app with OpenWeatherMap API.
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>web</mat-icon>ETA 06/30/19 - Building
          interactive site for design partner.
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>poll</mat-icon>ETA 07/15/19 - Unit of
          Measure Conversion app (iOS via ionic).
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>group_add</mat-icon>ETA 07/30/19 - Allowing
          Friends List for Buddy Trakr
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
      <div  class="update-list">
      <h4 class="sub-heading font-secondary">Future Projects</h4>
      <mat-list dense>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>people</mat-icon>Actually Finding something
          worth-while to say on twitter.
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>present_to_all</mat-icon>Artist Twitter-bot (more info
          to come)
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>cloud_upload</mat-icon>Allowing recipe suggestions
          through interface.
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      </div>
    </div>
  </div>
  <footer-component></footer-component>
</div>
