
<div class="top-div col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/design.jpeg');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Website Design</h4>
  <div class="col-xs-12 container-box  home-box">
    <p>  If you are looking for a complete web experience, or just a simple website, you have come to the right place. I bring
    a wealth of knowledge to the table to help increase your brand identity. If you want a unique experience for any visitors
    to your site, I can help with that. Have you seen an amazing thing on the internet that you want to incorporate into your
    site? Barring any trademarks or copyrighted material, I can help with that.
    </p>
      <p>By hiring me to help you with your website needs,
    you get a "full-stack" developer who can help with both client-side issues, and server-side issues. Here are just some of
    the things I have experience with:</p>
    <ul>
      <li>Single page web-apps</li>
      <li>Multi-page websites</li>
      <li>Interactive elements</li>
      <li>Database integration</li>
      <li>eStore integration</li>
      <li>User maintenance (login/signup/etc.)</li>
      <li>Wordpress for prebuilt templates</li>
      <li>Custom Server Routing</li>
    </ul>
    <p>
        One of the biggest issues when trying to find someone to help build a website is finding someone who will speak without
      using "buzz-words" or "tech-speak". To that end, I also bring 16 years of customer service experience and will work
      to ensure that you know exactly what you're getting, and I know exactly what you're asking for. If there's ever a term
      or concept that you don't understand, simply ask and I will take the time to explain it. If you have any questions or
      would like to get in touch. For any design quotes, you can reach out to me at
      <a href="mailto:design-quote@miketruax.com">design-quote@miketruax.com</a> and include any pertinent contact information.
      Also, feel free to check out my portfolio of work by visiting the link at the top.
    </p>
  </div>
</div>

<div class="col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/teamwork2.jpeg');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Tech Consultation</h4>

  <div class="col-xs-12  container-box  home-box">
    <p>
        Sometimes what you need isn't a website but you don't have a dedicated IT person. Sometimes you just
      need to ask someone some tech questions but don't know where to start. If this sounds like you, then I can help!</p>
    <p>
        In addition to the website design work, I also do hourly or contracted consultation. This could include the examples
      above or potentially any other needs you might have. As an independent contractor, I work for you and you alone.
      Quite possibly the most important aspect of that is that I don't have any ulterior motives to push you towards a
      specific product or brand. If it isn't right for you I'll tell you why and, just as importantly, offer you alternatives.
    </p>
    <p>
        Not only would you be hiring someone with a wealth of tech knowledge, you're also hiring someone with experience in
      both project and personnel management. I know how important your time and deadlines are as I've been in your position.
      Communication is at the forefront of any partnership and I will keep you up to date with as much information as you want
      to ensure you are able to keep all parties up to date with accurate and timely facts.</p>
      <p>As a final bonus, I am both a
      Certified Scrum Master and a Certified Scrum Product Owner through the Scrum Alliance. If your company/team is following
      an <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank" data-toggle="tooltip"
            data-placement="top" title="Read more on Wikipedia">
          Agile Methodology</a> processes I can easily adjust my deadlines to fit any sprint goals and ensure all communication goes through
      the appropriate agile role.
    </p>
    <p>
      For any consultant needs or inquiries, please reach me through either:
    <a href="https://www.linkedin.com/pub/michael-truax/11a/690/625" target='_blank'>
      <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class='icon'>
      Michael Truax
    </a> Or
    <a href="mailto:mike@miketruax.com?subject=Consultant%20Opportunity">mike@miketruax.com</a>
      with a subject line of "Consultant Opportunity" to ensure proper filtering.
    </p>

  </div>
</div>

<div class="col-xs-12 col-lg-4 section-container">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/code2.jpeg');">
  </div>
  <h4 class="section-heading text-center col-xs-12">Contract Work</h4>


  <div class="col-xs-12  container-box  home-box">
    <p>
      As a full-stack developer, I am available for both long-term and short-term contracts. With over 15 years experience
      working in a team environment, I can easily adapt to any structure your workplace utilizes. As a
      SCRUM ALLIANCE Certified ScrumMaster SCRUM ALLIANCE Certified Scrum Product Owner, I can adapt to a pre-existing
      Agile work environment, or can fit into either of those roles, bringing along over 10 years of leadership experience.
    </p>

    <p>
      One of my best assets is my willingness to learn new technologies and development techniques. While most of my personal
      design work is done using a MEAN stack, I have experience with Java and Ruby as well as passing knowledge of several other
      languages and frameworks. My viewpoint has always been: "Why pigeonhole yourself into only knowing one thing?". To that end,
      I am always excited to learn new tech stacks and adjust my approach accordingly.
    </p>
    <p>
      If you're curious about what I have done, or can do, feel free to look at my
      <a [routerLink]="['/portfolio']">portfolio and skills</a> or
      <a href="https://github.com/miketruax" target='_blank'>
        <img src="assets/img/icons/GitHub-Mark-32px.png" class='icon' alt="Github Icon">Github Repo</a>.

    </p>

    <p>
      For any contract work or inquiries, please reach me through either:
      <a href="https://www.linkedin.com/pub/michael-truax/11a/690/625" target='_blank'>
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" class='icon'>
        Michael Truax
      </a> Or
      <a href="mailto:mike@miketruax.com">mike@miketruax.com</a>
    </p>
  </div>
</div>




<div class="col-xs-12  section-container" style="margin-top: 0px !important;">
  <div class="col-xs-12 section-background" style="background-image: url('/assets/img/backgrounds/stock/updates.jpeg');">
  </div>
  <h3 class="section-heading text-center col-xs-12" >Updates</h3>
  <div class="col-xs-12  container-box">

    <div class="col-xs-12">
      <b>Completed Items</b>
      <ul class='list-group'>
        <li class="list-group-item list-group-item-success">Site formatting for use with node.js and express routing.</li>
        <li class="list-group-item list-group-item-success">DB integration with SQL. </li>
        <li class="list-group-item list-group-item-success">Improved graphics on site for better presentation. </li>
        <li class="list-group-item list-group-item-success"><a href="buddytrakr.herokuapp.com" target="_blank">
          <img src="./assets/img/portfolio/buddyTrakr/main_logo.png" style="max-height: 40px !important; width: auto;">
          BuddyTrakr
        </a>
        </li>
      </ul>


      <dt>Current Items in Progress:</dt>
      <ul class='list-group'>
        <li class="list-group-item list-group-item-warning">Building site for desing partner</li>
        <li class="list-group-item list-group-item-warning">Inventory optimization for consultation client.</li>
        <li class="list-group-item list-group-item-danger"> More interactivity with user to improve the overall experience.</li>
        <li class="list-group-item list-group-item-danger"> Ability to vote on and submit new recipes.</li>
      </ul>
    </div>
  </div>
</div>



